<!-- <div class="uppercase dashboard-page-title mt-8 pb-4">CUESTIONARIO MÉDICO DE EVALUACIÓN PROSTÁTICA PARA HOMBRES MAYORES
  DE 50 AÑOS
</div> -->
<app-forms-container [isQuestionnarie]="false"
  [titles]="['Cuestionario médico de evaluación prostática para hombres mayores de 50 años']">
  <ng-template #formTemplate>
    <!--  <div class="mt-3 mb-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4">
     <div class="mr-3">
        <app-input [group]="form" label="Nombre del asegurado" name='firstName'>
        </app-input>
      </div>
      <div class="mr-3">
        <app-input [group]="form" label="Apellido del asegurado" name='lastName'>
        </app-input>
      </div>
      <div class="mr-3">
        <app-date-picker [group]="form" label="Fecha de nacimiento" name='birthdate'>
        </app-date-picker>
      </div>
      <div class="">
        <app-input [group]="form" label="Número de póliza" name='policeNo' >
        </app-input>
      </div>
    </div> -->
    <div *ngFor="let question of questions">
      <div
        class="w-full xl:flex xl:justify-between lg:flex lg:justify-between md:flex md:justify-between sm:flex sm:justify-between">
        <div class="radio-button-label" style="font-size: 12px !important;">{{question.label}}</div>
        <app-radio-button [group]="form" [name]="question.name" [options]="diseaseService.yesOrNoOriginal"
          (selected)="selectChange($event)">
        </app-radio-button>
      </div>
      <div *ngIf="form.value[question.name] === 'si'">
        <div *ngIf="question.name === 'hasProstateEvaluation'">
          <div class="mb-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4">
            <div class="mr-3">
              <app-input [group]="form.get(question.group)" label="Nombre del médico tratante" name='doctorName'>
              </app-input>
            </div>
            <div class="mr-3">
              <app-input [group]="form.get(question.group)" label="Institución donde presta servicios"
                name='institution'>
              </app-input>
            </div>
            <div class="mr-3">
              <app-input [group]="form.get(question.group)" label="Dirección" name='address'>
              </app-input>
            </div>
            <div class="">
              <app-number-input [group]="form.get(question.group)" label="Teléfono" name='phone'>
              </app-number-input>
            </div>
          </div>
        </div>

        <div
          *ngIf="question.name === 'hasPSATotal' || question.name === 'hasProstateUltrasound' || question.name === 'hasBiopsy'">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4">
            <div class="mr-3">
              <app-date-picker [group]="form.get(question.group)" label="Fecha del estudio" name='date'>
              </app-date-picker>
            </div>
            <div class="mr-3"></div>
            <div class="mr-3">
              <app-input [group]="form.get(question.group)" label="Diagnóstico" name='diagnostic'>
              </app-input>
            </div>
            <div class=""></div>
          </div>
        </div>
      </div>
      <hr class="w-full mb-6 ww-divider">

    </div>
    <div class="radio-button-label mb-8" style="font-size: 12px !important;">Indique los tratamientos médicos y
      quirúrgicos a los que ha sido sometido
    </div>
    <div *ngFor="let studies of treatmentUndergoneList.controls; let i = index"
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
      <div class="mr-3">
        <app-radio-button [group]="form.get('treatments').get(i.toString())" name="type" [options]="treatmentType"
          (selected)="selectChange($event)">
        </app-radio-button>
      </div>
      <div class="mr-3">
        <app-input [group]="form.get('treatments').get(i.toString())" name="name" label="Nombre tratamiento">
        </app-input>
      </div>
      <div *ngIf="treatmentUndergoneList.length > 1"
        [ngClass]="{'': treatmentUndergoneList.length === 1, 'col-span-1': treatmentUndergoneList.length > 1} ">
        <button mat-mini-fab aria-label=" Eliminar estudio"
          (click)="diseaseService.removeToList(i, treatmentUndergoneList)" type="treatments"
          class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
          <mat-icon style="color: #18446B">remove</mat-icon>
        </button>
      </div>
    </div>
    <div class="mb-8">
      <button mat-mini-fab aria-label="Agregar estudio" (click)="addToList(treatmentUndergoneList, 'treatments')"
        type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
        <mat-icon style="color: #18446B">add</mat-icon>
      </button>
    </div>
    <hr class="w-full mb-6 ww-divider">

    <div class="radio-button-label mb-8" style="font-size: 12px !important;">Además de los resultados mencionados, si se
      ha realizado algún otro estudio
    </div>
    <div *ngFor="let studies of studiesList.controls; let i = index"
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
      <div class="mr-3">
        <app-date-picker [group]="form.get('studies').get(i.toString())" name="date" label="Fecha del estudio">
        </app-date-picker>
      </div>
      <div class="mr-3">
        <app-input [group]="form.get('studies').get(i.toString())" name="results" label="Resultado del estudio">
        </app-input>
      </div>
      <div *ngIf="studiesList.length > 1"
        [ngClass]="{'': studiesList.length === 1, 'col-span-1': studiesList.length > 1} ">
        <button mat-mini-fab aria-label=" Eliminar estudio" (click)="diseaseService.removeToList(i, studiesList)"
          type="studies" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
          <mat-icon style="color: #18446B">remove</mat-icon>
        </button>
      </div>
    </div>
    <div class="mb-8">
      <button mat-mini-fab aria-label="Agregar estudio" (click)="addToList(studiesList, 'studies')" type="button"
        class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
        <mat-icon style="color: #18446B">add</mat-icon>
      </button>
    </div>
    <hr class="w-full mb-6 ww-divider">
    <div class="declaraciones my-4 px-4 sm:px-4 md:px-14 lg:px-12 xl:px-12">
      Declaro bajo la más solemne fe del juramente que todos los datos e informaciones suministradas en el presente
      cuestionario son verdaderos, correctos y actualizados y que no he omitido ni alterado ninguna información
      requerida explícita o implícitamente en este cuestionario, que pueda o pudiere influir en la evaluación y
      aceptación de la solicitud de seguro. Reconozco que el haber completado y firmado el presente cuestionario no
      supone la
      aceptación de WorldWide, hasta tanto la Aseguradora realice la debida evaluación y aprobación del mismo.
    </div>
  </ng-template>
</app-forms-container>
