<div class="mx-4">
  <!-- *ngIf="timeAutoComplete == 1"-->
  <div class="uppercase dashboard-page-title pt-10">
    <!-- *ngIf="timeAutoComplete == 1" -->
    NUEVA AUTORIZACIÓN </div>

  <div class="pt-3 pb-2 mt-5 ml-1" style="background-color: #F2F2F2">
    <!--  *ngIf="timeAutoComplete == 1" -->

    <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5">
      <div class="ml-5 mr-3">
        <app-date-picker [group]="authorization" label="Fecha" name="fecha">
        </app-date-picker>
      </div>
      <!-- <app-input  *ngIf="timeAutoComplete == 0" class="mr-3 col-span-2 ml-5 md:ml-0" [group]="authorization.get('informacionAsegurado')" label="ID Number"
        name='idNumber' placeholder=""></app-input> -->
      <div class="mr-3">
        <app-select name="filterType" [options]="filterOptions" [group]="authorization.get('informacionAsegurado')">
        </app-select>
      </div>
      <div *ngIf="this.authorization.get('informacionAsegurado').get('filterType').value == 'NOMBRE' ">
        <form [formGroup]="authorization.get('informacionAsegurado')">
          <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
            style="font-size: small !important;">
            <mat-label>Nombre</mat-label>
            <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
              placeholder="Juan Juan">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="authorization.get('informacionAsegurado').get('idNumber').touched && !authorization.get('informacionAsegurado').get('idNumber').valid">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="this.authorization.get('informacionAsegurado').get('filterType').value == 'ID' ">
        <form [formGroup]="authorization.get('informacionAsegurado')">
          <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
            style="font-size: small !important;">
            <mat-label>ID Number</mat-label>
            <input formControlName="idNumber" matInput class="" type="number" [matAutocomplete]="auto"
              placeholder="00010002">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="authorization.get('informacionAsegurado').get('idNumber').touched && !authorization.get('informacionAsegurado').get('idNumber').valid">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="this.authorization.get('informacionAsegurado').get('filterType').value == 'POLIZA' ">
        <form [formGroup]="authorization.get('informacionAsegurado')">
          <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
            style="font-size: small !important;">
            <mat-label>Póliza</mat-label>
            <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
              placeholder="SWWVT-00000">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="authorization.get('informacionAsegurado').get('idNumber').touched && !authorization.get('informacionAsegurado').get('idNumber').valid">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <!-- <div *ngIf="timeAutoComplete == 1" class="mr-3 col-span-2 ml-5 md:ml-0">
        <form [formGroup]="authorization.get('informacionAsegurado')">
          <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
            style="font-size: small !important;">
            <mat-label>ID Number</mat-label>
            <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
              placeholder="Juan Juan - 00010002">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="authorization.get('informacionAsegurado').get('idNumber').touched && !authorization.get('informacionAsegurado').get('idNumber').valid">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </form>
      </div> -->
      <div
        *ngIf="this.authorization.get('informacionAsegurado').get('filterType').value == 'NOMBRE' || this.authorization.get('informacionAsegurado').get('filterType').value == 'ID' || this.authorization.get('informacionAsegurado').get('filterType').value == 'POLIZA' ">
        <button style="margin-left: 15px;" *ngIf="ID === null || ID === undefined"
          (click)="searchIdNumber(authorization.get('informacionAsegurado').value.idNumber)" type="submit"
          class="nofocus flex justify-center small-search-button">
          <img src="/assets/iconos/search-icon.svg">
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="showContent" class="pb-1 mt-4">
    <mat-accordion #matAccordion="matAccordion" name="matAccordion" class="ww-mat-accordion example-headers-align"
      [togglePosition]="'before'">
      <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header class="body-13 icon-blue">
          <mat-panel-title>
            Información del Asegurado
          </mat-panel-title>
          <mat-panel-description>
            <div></div>
            <!-- <mat-icon style="color: #FF0000;">warning</mat-icon> -->
            <div *ngIf="showWarningDot(authorization.get('informacionAsegurado'))" class="warning-accordion-dot"></div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">
          <div class="mr-3">
            <app-radio-button class="mr-3 " [group]="authorization.get('informacionAsegurado')" name="tipoReclamo"
              [options]="tipoReclamo">
            </app-radio-button>

          </div>
          <!--<div class="mr-3"
            *ngIf="authorization.get('informacionAsegurado').get('tipoReclamo') && authorization.get('informacionAsegurado').get('tipoReclamo').value === 'LOCAL'">
            <app-radio-button class="mr-3 " [group]="authorization.get('informacionAsegurado')" name="tipoReclamoMoneda"
              [options]="tipoReclamoLocal">
            </app-radio-button>

          </div>-->
          <!--<div class="mr-3"
            *ngIf="authorization.get('informacionAsegurado').get('tipoReclamo') && authorization.get('informacionAsegurado').get('tipoReclamo').value === 'INTERNACIONAL'">
            <app-radio-button class="mr-3 " [group]="authorization.get('informacionAsegurado')" name="tipoReclamoMoneda"
              [options]="tipoReclamoInternacional">
            </app-radio-button>

          </div>-->
          <app-input class="mr-3" [group]="authorization.get('informacionAsegurado')" label="Nombres" name='nombres'>
          </app-input>
          <app-input class="mr-3" [group]="authorization.get('informacionAsegurado')" label="Apellidos"
            name='apellidos'></app-input>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="No. póliza" name='noPoliza'
              placeholder="12345678"></app-input>
          </div>
          <div class="mr-3">
            <app-radio-button [group]="authorization.get('informacionAsegurado')" [options]="generos" name="sexo">
            </app-radio-button>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Correo" name='correo'
              placeholder="ars.info@seguros.com.do"></app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Dirección residencia" name='direccion'
              placeholder="Calle 5, Casa #50, ..."></app-input>
          </div>
          <div class="mr-3">
            <app-number-input [group]="authorization.get('informacionAsegurado')" label="Teléfono residencia"
              name='telefonoResidencia' isPhone="true" placeholder=""></app-number-input>
          </div>
          <div class="mr-3">
            <app-number-input [group]="authorization.get('informacionAsegurado')" label="Teléfono celular"
              name='telefonoCelular' isPhone="true" placeholder=""></app-number-input>
          </div>
          <div class="mr-3">
            <app-number-input [group]="authorization.get('informacionAsegurado')" label="Teléfono oficina"
              name='telefonoOficina' isPhone="true" placeholder=""></app-number-input>
          </div>
        </div>

        <div class="grid grid-cols-1 xl:ml-3 mt-5">
          <div class="mr-3 mb-3 sm:mb-3 md:mb-0 lg:mb-0 xl:mb-0 ">
            <app-radio-button [group]="authorization.get('informacionAsegurado')" [options]="seguros" name="otroSeguro"
              (selected)="selectChange($event)">
            </app-radio-button>
          </div>
        </div>

        <!-- INFORMACION DEL SEGURO EXTRA -->
        <div *ngIf="this.authorization.get('informacionAsegurado').get('seguro')"
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-5">
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado').get('seguro')" label="Nombre compañía"
              name='nombre' placeholder="WorldWide Seguros"></app-input>
          </div>
          <div class="mr-3">

            <app-input [group]="authorization.get('informacionAsegurado').get('seguro')" label="No. póliza"
              name='noPoliza' placeholder="12345678"></app-input>

          </div>
          <div class="mr-3">
            <app-date-picker [group]="authorization.get('informacionAsegurado').get('seguro')" label="Fecha de emisión"
              name="fecha" [max]="todayDate">
            </app-date-picker>
          </div>
          <div class="mr-3">
            <app-number-input [group]="authorization.get('informacionAsegurado').get('seguro')" label="Suma asegurada"
              name='suma' placeholder="20,000$ USD" min="0"></app-number-input>
          </div>
        </div>

        <mat-action-row class="action-row">
          <button mat-button class="next-button" (click)="nextStep()" type="button">
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header class="body-13 icon-blue">
          <mat-panel-title>
            Información médica
          </mat-panel-title>
          <mat-panel-description>
            <div></div>
            <!-- <mat-icon style="color: #FF0000;">warning</mat-icon> -->
            <div *ngIf="showWarningDot(authorization.get('informacionMedica'))" class="warning-accordion-dot"></div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="grid grid-cols-1  sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">

          <!--  PRIMERA COLUMNA -->
          <div class="mr-12">
            <app-input [group]="authorization.get('informacionMedica')" label="Diagnóstico principal" name='diagnostico'
              placeholder="Dolor de cabeza">
            </app-input>
            <!-- <app-input [group]="authorization.get('informacionMedica')" label="Procedimiento a realizar"
              name='procedimiento' placeholder="Operación ...">
            </app-input> -->
            <div class="-mr-10" style="max-width: 180px;">
              <app-radio-button (selected)="selectChange($event)" [group]="authorization.get('informacionMedica')"
                [options]="condiciones" name="condicion">
              </app-radio-button>
            </div>
            <app-number-input [group]="authorization.get('informacionMedica')" label="Tiempo probable estadía (días)"
              [max]="maxBasedOnCondition()" name="tiempoEstadia">
            </app-number-input>
          </div>

          <!--  SEGUNDA COLUMNA -->
          <div class="mr-12">
            <app-date-picker [group]="authorization.get('informacionMedica').get('primerosSintomas')"
              label="Fecha primeros síntomas" name="fecha" [max]="todayDate">
            </app-date-picker>
            <div class="my-4">
              <label> <strong> Médico tratante: </strong> </label>
            </div>
            <!-- <app-select name="nombreMedico"
              (selected)="selectionDoctor($event, authorization.get('informacionMedica').get('primerosSintomas'))"
              [options]="doctorFieldNames" [group]="authorization.get('informacionMedica').get('primerosSintomas')">
            </app-select> (selectionChange) -->
            <form [formGroup]="authorization.get('informacionMedica').get('primerosSintomas')">
              <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                style="font-size: small !important;">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombreMedico" matInput class="" type="text" [matAutocomplete]="auto2"
                  placeholder="Dr. Juan Juan">
                <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn"
                  (optionSelected)="selectionDoctor($event, authorization.get('informacionMedica').get('primerosSintomas'))">
                  <mat-option *ngFor="let option of filteredOptionsMedicoTratante | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="authorization.get('informacionMedica').get('primerosSintomas').get('nombreMedico').touched && !authorization.get('informacionMedica').get('primerosSintomas').get('nombreMedico').valid">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </form>
            <!-- <app-select name="direccion" [options]="doctorFieldMedicCenter" [group]="authorization.get('informacionMedica').get('primerosSintomas')">
            </app-select>

            <app-select name="telefono" [options]="doctorFieldNumbers" [group]="authorization.get('informacionMedica').get('primerosSintomas')">
            </app-select> -->

            <app-input
              *ngIf="authorization.get('informacionMedica').get('primerosSintomas').get('nombreMedico').value.toLowerCase() == 'otro'"
              [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Especificar nombre"
              name="specifyOthers">
            </app-input>

            <!-- <app-input [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Nombre"
              name="nombreMedico">
            </app-input> -->

            <!-- <app-input [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Dirección"
              name="direccion">
            </app-input> -->

            <app-text-area [group]="authorization.get('informacionMedica').get('primerosSintomas')" name="direccion"
              label="Dirección">
            </app-text-area>

            <app-number-input [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Teléfono"
              name='telefono' isPhone="true" placeholder=""></app-number-input>
          </div>

          <!--  TERCERA COLUMNA -->
          <div class="mr-12">
            <app-date-picker [group]="authorization.get('informacionMedica').get('admision')"
              label="Fecha probable admisión" name="fecha">
            </app-date-picker>
            <div class="my-4">
              <label> <strong> Médico que lo refiere: </strong> </label>
            </div>
            <!-- <app-input [group]="authorization.get('informacionMedica').get('admision')" label="Nombre"
              name="nombreMedico">
            </app-input> -->
            <!-- <app-select name="nombreMedico"
              (selected)="selectionDoctor($event, authorization.get('informacionMedica').get('admision'))"
              [options]="doctorFieldNames" [group]="authorization.get('informacionMedica').get('admision')">
            </app-select> -->

            <form [formGroup]="authorization.get('informacionMedica').get('admision')">
              <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                style="font-size: small !important;">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombreMedico" matInput class="" type="text" [matAutocomplete]="auto3"
                  placeholder="Dr. Juan Juan">
                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn"
                  (optionSelected)="selectionDoctor($event, authorization.get('informacionMedica').get('admision'))">
                  <mat-option *ngFor="let option of filteredOptionsMedicoReferente | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="authorization.get('informacionMedica').get('admision').get('nombreMedico').touched && !authorization.get('informacionMedica').get('admision').get('nombreMedico').valid">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </form>

            <app-input
              *ngIf="authorization.get('informacionMedica').get('admision').get('nombreMedico').value.toLowerCase() == 'otro'"
              [group]="authorization.get('informacionMedica').get('admision')" label="Especificar nombre"
              name="specifyOthers">
            </app-input>
            <!-- <app-input [group]="authorization.get('informacionMedica').get('admision')" label="Dirección"
              name="direccion">
            </app-input> -->
            <app-text-area [group]="authorization.get('informacionMedica').get('admision')" name="direccion"
              label="Dirección">
            </app-text-area>
            <app-number-input [group]="authorization.get('informacionMedica').get('admision')" label="Teléfono"
              name='telefono' isPhone="true" placeholder=""></app-number-input>
            <div class="my-4" [formGroup]="authorization.get('informacionMedica')">
              <mat-checkbox formControlName="isMedicalEqual">
                ¿Medico tratante es que refiere? </mat-checkbox>
            </div>
          </div>

          <!--  CUARTA COLUMNA -->
          <div class="mr-12">

            <!-- <div class="grid grid-cols-2">
              <div class=""
                *ngIf="authorization.get('tipoReclamo') && authorization.get('tipoReclamo').value === 'LOCAL'">
                <app-radio-button class="mr-3 " [group]="authorization" name="tipoReclamoMoneda"
                  [options]="tipoReclamoLocal">
                </app-radio-button>
              </div>
              <div class=""
                *ngIf="authorization.get('tipoReclamo') && authorization.get('tipoReclamo').value === 'INTERNACIONAL'">
                <app-radio-button class="mr-3 " [group]="authorization" name="tipoReclamoMoneda"
                  [options]="tipoReclamoInternacional">
                </app-radio-button>
              </div>
              <app-number-input class="" [group]="authorization.get('informacionMedica')"
                label="Monto del Procedimiento" name='monto' placeholder="50000" min='1'>
              </app-number-input>
            </div> -->
            <app-input [group]="authorization.get('informacionMedica')" label="Procedimiento a realizar"
              name='procedimiento' placeholder="Operación ...">
            </app-input>

            <div class="my-4">
              <label> <strong> Centro del servicio: </strong> </label>
            </div>
            <!-- <app-input [group]="authorization.get('informacionMedica')" label="Nombre" name="nombreServicio">
            </app-input> -->
            <!-- <app-select name="nombreServicio" [options]="serviceCenters"
              [group]="authorization.get('informacionMedica')">
            </app-select> -->
            <form [formGroup]="authorization.get('informacionMedica')">
              <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                style="font-size: small !important;">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombreServicio" matInput class="" type="text" [matAutocomplete]="auto4"
                  placeholder="Dr. Juan Juan">
                <mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayFn"
                  (optionSelected)="selectionDoctor($event, authorization.get('informacionMedica'), 'nombreServicio')">
                  <mat-option *ngFor="let option of filteredOptionsCentroServicio | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="authorization.get('informacionMedica').get('nombreServicio').touched && !authorization.get('informacionMedica').get('nombreServicio').valid">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </form>

            <app-input
              *ngIf="authorization.get('informacionMedica').get('nombreServicio').value.toLowerCase() == 'otro'"
              [group]="authorization.get('informacionMedica')" label="Especificar nombre" name="specifyOthers">
            </app-input>
            <!-- <app-input [group]="authorization.get('informacionMedica')" label="Dirección" name="direccion">
            </app-input>

            <app-input [group]="authorization.get('informacionMedica')" label="Teléfono" name='telefono' placeholder="">
            </app-input> -->
          </div>
        </div>
        <div class="mt-3 pt-8 pb-10" style="background-color: #E6E7E8;">
          <div class="ml-5 mr-10" style="display: inline-block;">
            <label class=""> "Autorizo a cualquier médico, hospital o profesional de cuidados de salud o compañía de
              seguros
              que tenga información sobre mi salud o cualquiera de mis dependientes a proporcionar información sobre
              la cirugía o tratamieto a efectuarse a Worldwide Medical Assurance. Dicha información será utilizada
              para determinar cobertura de la cirugía o procedimiento solicitado". </label>
          </div>
          <div class="mt-2" style="float: right;">
            <app-radio-button [group]="authorization.get('informacionMedica')" [options]="autorizacionOptions"
              name="autorizacion">
            </app-radio-button>
          </div>
        </div>
        <mat-action-row class="action-row">
          <button mat-button class="next-button" (click)="nextStep()" type="button">
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header class="body-13 icon-blue">
          <mat-panel-title>
            Archivos adjuntos (Formato de los documentos: PDF (.pdf), JPG (.jpg) y PNG (.png))
          </mat-panel-title>
          <mat-panel-description>
            <div></div>
            <!-- <mat-icon style="color: #FF0000;">warning</mat-icon> -->
            <div *ngIf="showWarningDot(authorization.get('files'))" class="warning-accordion-dot"></div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let documents of documentsArray.controls; let in = index;">
          <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
            <!-- <input id="file" type="file" class="form-control"> -->
            <app-file-input class="mr-3" [group]="authorization.get('files').get(in.toString())" name="medicReport"
              label="Informe médico" [fileNameWatcher]="fileNameWatcher('medicReport', in)"
              (onFileChange)="onFileChange($event, 'medicReport', in)">
            </app-file-input>
            <app-file-input class="mr-3" [group]="authorization.get('files').get(in.toString())" name="budget"
              label="Presupuestos" [fileNameWatcher]="fileNameWatcher('budget', in)"
              (onFileChange)="onFileChange($event, 'budget', in)">
            </app-file-input>
            <app-file-input class="mr-3" [group]="authorization.get('files').get(in.toString())" name="studies"
              label="Estudios" [fileNameWatcher]="fileNameWatcher('studies', in)"
              (onFileChange)="onFileChange($event, 'studies', in)">
            </app-file-input>
            <div class="grid"
              [ngClass]="{'grid-cols-1': documentsArray.length === 1, 'grid-cols-5': documentsArray.length > 1}">
              <app-file-input
                [ngClass]="{'': documentsArray.length === 1, 'col-span-4 mr-3': documentsArray.length > 1}" class="mr-3"
                [group]="authorization.get('files').get(in.toString())" name="indications" label="Indicacion"
                [fileNameWatcher]="fileNameWatcher('indications', in)"
                (onFileChange)="onFileChange($event, 'indications', in)">
              </app-file-input>
              <div *ngIf="documentsArray.length > 1"
                [ngClass]="{'': documentsArray.length === 1, 'col-span-1': documentsArray.length > 1} ">
                <button mat-mini-fab aria-label=" Eliminar documentos" (click)="removeToList(in)" type="button"
                  class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                  <mat-icon style="color: #18446B">remove</mat-icon>
                </button>
              </div>
            </div>
            <!-- <div class="grid"
              [ngClass]="{'grid-cols-1': documentsArray.length === 1, 'grid-cols-5': documentsArray.length > 1}">
              <mat-form-field
                [ngClass]="{'': documentsArray.length === 1, 'col-span-4 mr-3': documentsArray.length > 1, 'file-input': authorization.get('files').get(in.toString()).get('indications').value !== '', 'file-error':  !authorization.get('files').get(in.toString()).get('indications').valid}"
                class="mr-3" appearance="outline">
                <mat-label>Indicacion</mat-label>
                <ngx-mat-file-input #removableIndication placeholder="Indicacion"
                  [valuePlaceholder]="fileNameWatcher('indications', in)"
                  (change)="onFileChange($event, 'indications', in)">
                </ngx-mat-file-input>
                <mat-icon *ngIf="authorization.get('files').get(in.toString()).get('indications').value == ''"
                  style="color: #e2e2e2;" matSuffix>publish</mat-icon>
                <button mat-icon-button matSuffix
                  *ngIf="authorization.get('files').get(in.toString()).get('indications').value !== ''"
                  (click)="this.requestService.clearArchives(authorization.get('files').get(in.toString()).get('indications'))"
                  (click)="removableIndication.clear($event)">
                  <mat-icon style="color: #e2e2e2;">clear</mat-icon>
                </button><button mat-icon-button matSuffix
                  *ngIf="authorization.get('files').get(in.toString()).get('indications').value !== ''"
                  (click)="this.requestService.downloadArchives($event, authorization.get('files').get(in.toString()).get('indications').value)">
                  <mat-icon style="color: #e2e2e2;">get_app</mat-icon>
                </button>
                <mat-error *ngIf=" !authorization.get('files').get(in.toString()).get('indications').valid">
                  Este campo es
                  obligatorio
                </mat-error>
              </mat-form-field>
              <div *ngIf="documentsArray.length > 1"
                [ngClass]="{'': documentsArray.length === 1, 'col-span-1': documentsArray.length > 1} ">
                <button mat-mini-fab aria-label=" Eliminar documentos" (click)="removeToList(in)" type="button"
                  class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                  <mat-icon style="color: #18446B">remove</mat-icon>
                </button>
              </div>
            </div> -->
          </div>
        </div>
        <div>
          <button mat-mini-fab aria-label=" Agregar documentos" (click)="addToList()" type="button"
            class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
            <mat-icon style="color: #18446B">add</mat-icon>
          </button>
        </div>
        <mat-action-row class="action-row">
          <button mat-button class="next-button" (click)="nextStep()" type="button">
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <app-forms-container [titles]="accordionTitles">

      <ng-template #formTemplate>


      </ng-template>

      <ng-template #formTemplate>

      </ng-template>

      <ng-template #formTemplate>

      </ng-template>
    </app-forms-container> -->

  </div>
  <form #form="ngForm" [formGroup]="authorization">
    <div *ngIf="showContent" class="mt-8 mb-4">
      <button mat-button class="cancel-form-button" style="margin-right: 7.5px !important;"
        (click)="formHandler.sendForm(authorization, 'new-authorization', 'cancel')" type="submit">Cancelar</button>
      <button #saveButton name="saveButton" mat-button class="save-button" style="margin-right: 7.5px !important;"
        (click)="sendForm(authorization, 'new-authorization', 'save')" type="submit">Guardar</button>
      <button mat-button class="send-button" (click)="sendForm(authorization, 'new-authorization', 'send', ID)"
        type="submit">Enviar</button>
    </div>
  </form>
</div>
