<div class="mx-4">
  <!-- *ngIf="timeAutoComplete == 1"-->
  <div class="uppercase dashboard-page-title pt-10">
    <!-- *ngIf="timeAutoComplete == 1" -->
    NUEVA AUTORIZACIÓN </div>

  <div class="pt-3 pb-2 mt-5 ml-1" style="background-color: #F2F2F2">
    <!--  *ngIf="timeAutoComplete == 1" -->

    <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5">
      <div class="ml-5 mr-3">
        <app-date-picker [group]="authorization" label="Fecha" name="fecha">
        </app-date-picker>
      </div>
      <!-- <app-input  *ngIf="timeAutoComplete == 0" class="mr-3 col-span-2 ml-5 md:ml-0" [group]="authorization.get('informacionAsegurado')" label="ID Number"
        name='idNumber' placeholder=""></app-input> -->
      <div class="mr-3">
        <app-select name="filterType" [options]="filterOptions" [group]="authorization.get('informacionAsegurado')">
        </app-select>
      </div>
      <div *ngIf="this.authorization.get('informacionAsegurado').get('filterType').value == 'NOMBRE' ">
        <form [formGroup]="authorization.get('informacionAsegurado')">
          <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
            style="font-size: small !important;">
            <mat-label>Nombre</mat-label>
            <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
              placeholder="Juan Juan">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="authorization.get('informacionAsegurado').get('idNumber').touched && !authorization.get('informacionAsegurado').get('idNumber').valid">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="this.authorization.get('informacionAsegurado').get('filterType').value == 'ID' ">
        <form [formGroup]="authorization.get('informacionAsegurado')">
          <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
            style="font-size: small !important;">
            <mat-label>ID Number</mat-label>
            <input formControlName="idNumber" matInput class="" type="number" [matAutocomplete]="auto"
              placeholder="00010002">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="authorization.get('informacionAsegurado').get('idNumber').touched && !authorization.get('informacionAsegurado').get('idNumber').valid">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="this.authorization.get('informacionAsegurado').get('filterType').value == 'POLIZA' ">
        <form [formGroup]="authorization.get('informacionAsegurado')">
          <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
            style="font-size: small !important;">
            <mat-label>Póliza</mat-label>
            <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
              placeholder="SWWVT-00000">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="authorization.get('informacionAsegurado').get('idNumber').touched && !authorization.get('informacionAsegurado').get('idNumber').valid">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <!-- <div *ngIf="timeAutoComplete == 1" class="mr-3 col-span-2 ml-5 md:ml-0">
        <form [formGroup]="authorization.get('informacionAsegurado')">
          <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
            style="font-size: small !important;">
            <mat-label>ID Number</mat-label>
            <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
              placeholder="Juan Juan - 00010002">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error
              *ngIf="authorization.get('informacionAsegurado').get('idNumber').touched && !authorization.get('informacionAsegurado').get('idNumber').valid">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </form>
      </div> -->
      <div
        *ngIf="this.authorization.get('informacionAsegurado').get('filterType').value == 'NOMBRE' || this.authorization.get('informacionAsegurado').get('filterType').value == 'ID' || this.authorization.get('informacionAsegurado').get('filterType').value == 'POLIZA' ">
        <button style="margin-left: 15px;" *ngIf="ID === null || ID === undefined"
          (click)="searchIdNumber(authorization.get('informacionAsegurado').value.idNumber)" type="submit"
          class="nofocus flex justify-center small-search-button">
          <img src="/assets/iconos/search-icon.svg">
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="showContent" class="pb-1 mt-4">
    <mat-accordion #matAccordion="matAccordion" name="matAccordion" class="ww-mat-accordion example-headers-align"
      [togglePosition]="'before'">
      <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header class="body-13 icon-blue">
          <mat-panel-title>
            Información del Asegurado
          </mat-panel-title>
          <mat-panel-description>
            <div></div>
            <!-- <mat-icon style="color: #FF0000;">warning</mat-icon> -->
            <div *ngIf="showWarningDot(authorization.get('informacionAsegurado'))" class="warning-accordion-dot"></div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">
          <app-input class="mr-3" [group]="authorization.get('informacionAsegurado')" label="Nombres" name='nombres'>
          </app-input>
          <app-input class="mr-3" [group]="authorization.get('informacionAsegurado')" label="Apellidos"
            name='apellidos'></app-input>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="No. póliza" name='noPoliza'
              placeholder="12345678"></app-input>
          </div>
          <div class="mr-3">
            <app-radio-button [group]="authorization.get('informacionAsegurado')" [options]="generos" name="sexo">
            </app-radio-button>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Correo" name='correo'
              placeholder="ars.info@seguros.com.do"></app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Dirección residencia" name='direccion'
              placeholder="Calle 5, Casa #50, ..."></app-input>
          </div>
          <div class="mr-3">
            <app-number-input [group]="authorization.get('informacionAsegurado')" label="Teléfono residencia"
              name='telefonoResidencia' placeholder=""></app-number-input>
          </div>
          <div class="mr-3">
            <app-number-input [group]="authorization.get('informacionAsegurado')" label="Teléfono celular"
              name='telefonoCelular' placeholder=""></app-number-input>
          </div>
          <div class="mr-3">
            <app-number-input [group]="authorization.get('informacionAsegurado')" label="Teléfono oficina"
              name='telefonoOficina' placeholder=""></app-number-input>
          </div>
        </div>

        <div class="grid grid-cols-1 xl:ml-3 mt-5">
          <div class="mr-3 mb-3 sm:mb-3 md:mb-0 lg:mb-0 xl:mb-0 ">
            <app-radio-button [group]="authorization.get('informacionAsegurado')" [options]="seguros" name="otroSeguro"
              (selected)="selectChange($event)">
            </app-radio-button>
          </div>
        </div>

        <!-- INFORMACION DEL SEGURO EXTRA -->
        <div *ngIf="this.authorization.get('informacionAsegurado').get('seguro')"
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-5">
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado').get('seguro')" label="Nombre compañía"
              name='nombre' placeholder="WorldWide Seguros"></app-input>
          </div>
          <div class="mr-3">

            <app-input [group]="authorization.get('informacionAsegurado').get('seguro')" label="No. póliza"
              name='noPoliza' placeholder="12345678"></app-input>

          </div>
          <div class="mr-3">
            <app-date-picker [group]="authorization.get('informacionAsegurado').get('seguro')" label="Fecha de emisión"
              name="fecha" [max]="todayDate">
            </app-date-picker>
          </div>
          <div class="mr-3">
            <app-number-input [group]="authorization.get('informacionAsegurado').get('seguro')" label="Suma asegurada"
              name='suma' placeholder="20,000$ USD" min="0"></app-number-input>
          </div>
        </div>

        <mat-action-row class="action-row">
          <button mat-button class="next-button" (click)="nextStep()" type="button">
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header class="body-13 icon-blue">
          <mat-panel-title>
            Información médica
          </mat-panel-title>
          <mat-panel-description>
            <div></div>
            <!-- <mat-icon style="color: #FF0000;">warning</mat-icon> -->
            <div *ngIf="showWarningDot(authorization.get('informacionMedica'))" class="warning-accordion-dot"></div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="grid grid-cols-1  sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">

          <!--  PRIMERA COLUMNA -->
          <div class="mr-12">
            <app-input [group]="authorization.get('informacionMedica')" label="Diagnóstico principal" name='diagnostico'
              placeholder="Dolor de cabeza">
            </app-input>
            <div class="-mr-10" style="max-width: 180px;">
              <app-radio-button (selected)="selectChange($event)" [group]="authorization.get('informacionMedica')"
                [options]="condiciones" name="condicion">
              </app-radio-button>
            </div>
            <app-number-input [group]="authorization.get('informacionMedica')" label="Tiempo probable estadía (días)"
              name="tiempoEstadia">
            </app-number-input>
          </div>

          <!--  SEGUNDA COLUMNA -->
          <div class="mr-12">
            <app-date-picker [group]="authorization.get('informacionMedica').get('primerosSintomas')"
              label="Fecha primeros síntomas" name="fecha" [max]="todayDate">
            </app-date-picker>
            <div class="my-4">
              <label> <strong> Médico tratante: </strong> </label>
            </div>
            <app-input [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Nombre"
              name="nombreMedico">
            </app-input>
            <app-input [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Dirección"
              name="direccion">
            </app-input>

            <app-number-input [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Teléfono"
              name='telefono' placeholder=""></app-number-input>
          </div>

          <!--  TERCERA COLUMNA -->
          <div class="mr-12">
            <app-date-picker [group]="authorization.get('informacionMedica').get('admision')"
              label="Fecha probable admisión" name="fecha">
            </app-date-picker>
            <div class="my-4">
              <label> <strong> Médico que lo refiere: </strong> </label>
            </div>
            <app-input [group]="authorization.get('informacionMedica').get('admision')" label="Nombre"
              name="nombreMedico">
            </app-input>
            <app-input [group]="authorization.get('informacionMedica').get('admision')" label="Dirección"
              name="direccion">
            </app-input>

            <app-number-input [group]="authorization.get('informacionMedica').get('admision')" label="Teléfono"
              name='telefono' placeholder=""></app-number-input>
            <div class="my-4" [formGroup]="authorization.get('informacionMedica')">
              <mat-checkbox formControlName="isMedicalEqual">
                ¿Medico tratante es que refiere? </mat-checkbox>
            </div>
          </div>

          <!--  CUARTA COLUMNA -->
          <div class="mr-12">

            <div class="grid grid-cols-2">
              <app-input class="-mr-4" [group]="authorization.get('informacionMedica')" label="Procedimiento a realizar"
                name='procedimiento' placeholder="Operación ...">
              </app-input>
              <app-number-input class="ml-6" [group]="authorization.get('informacionMedica')"
                label="Monto del Procedimiento" name='monto' placeholder="50000" min='1'>
              </app-number-input>
            </div>

            <div class="my-4">
              <label> <strong> Centro del servicio: </strong> </label>
            </div>
            <app-input [group]="authorization.get('informacionMedica')" label="Nombre" name="nombreServicio">
            </app-input>
            <!-- <app-input [group]="authorization.get('informacionMedica')" label="Dirección" name="direccion">
            </app-input>

            <app-input [group]="authorization.get('informacionMedica')" label="Teléfono" name='telefono' placeholder="">
            </app-input> -->
          </div>
        </div>
        <div class="mt-3 pt-8 pb-10" style="background-color: #E6E7E8;">
          <div class="ml-5 mr-10" style="display: inline-block;">
            <label class=""> <b> "Autorizo a cualquier médico, hospital o profesional de cuidados de salud o compañía de
                seguros
                que tenga información sobre mi salud o cualquiera de mis dependientes a proporcionar información sobre
                la cirugía o tratamieto a efectuarse a Worldwide Medical Assurance. Dicha información será utilizada
                para determinar cobertura de la cirugía o procedimiento solicitado". </b> </label>
          </div>
          <div class="mt-2" style="float: right;">
            <app-radio-button [group]="authorization.get('informacionMedica')" [options]="autorizacionOptions"
              name="autorizacion">
            </app-radio-button>
          </div>
        </div>
        <mat-action-row class="action-row">
          <button mat-button class="next-button" (click)="nextStep()" type="button">
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header class="body-13 icon-blue">
          <mat-panel-title>
            Archivos adjuntos
          </mat-panel-title>
          <mat-panel-description>
            <div></div>
            <!-- <mat-icon style="color: #FF0000;">warning</mat-icon> -->
            <div *ngIf="showWarningDot(authorization.get('files'))" class="warning-accordion-dot"></div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let documents of documentsArray.controls; let in = index;">
          <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
            <!-- <input id="file" type="file" class="form-control"> -->
            <mat-form-field class="mr-3" appearance="outline">
              <mat-label>Informe médico</mat-label>
              <ngx-mat-file-input #removableMedicReport placeholder="Basic outline placeholder"
                [valuePlaceholder]="fileNameWatcher('medicReport', in)"
                (change)="onFileChange($event, 'medicReport', in)">
              </ngx-mat-file-input>
              <mat-icon *ngIf="removableMedicReport.empty" style="color: #e2e2e2;" matSuffix>publish</mat-icon>
              <button mat-icon-button matSuffix *ngIf="!removableMedicReport.empty"
                (click)="clearArchives('medicReport', in)" (click)="removableMedicReport.clear($event)">
                <mat-icon style="color: #e2e2e2;">clear</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="mr-3" appearance="outline">
              <mat-label>Presupuestos</mat-label>
              <ngx-mat-file-input #removableBudget placeholder="Basic outline placeholder"
                [valuePlaceholder]="fileNameWatcher('budget', in)" (change)="onFileChange($event, 'budget', in)">
              </ngx-mat-file-input>
              <mat-icon *ngIf="removableBudget.empty" style="color: #e2e2e2;" matSuffix>publish</mat-icon>
              <button mat-icon-button matSuffix *ngIf="!removableBudget.empty" (click)="clearArchives('budget', in)"
                (click)="removableBudget.clear($event)">
                <mat-icon style="color: #e2e2e2;">clear</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="mr-3" appearance="outline">
              <mat-label>Estudios</mat-label>
              <ngx-mat-file-input #removableStudies placeholder="Estudios"
                [valuePlaceholder]="fileNameWatcher('studies', in)" (change)="onFileChange($event, 'studies', in)">
              </ngx-mat-file-input>
              <mat-icon *ngIf="removableStudies.empty" style="color: #e2e2e2;" matSuffix>publish</mat-icon>
              <button mat-icon-button matSuffix *ngIf="!removableStudies.empty" (click)="clearArchives('studies', in)"
                (click)="removableStudies.clear($event)">
                <mat-icon style="color: #e2e2e2;">clear</mat-icon>
              </button>
            </mat-form-field>
            <div class="grid"
              [ngClass]="{'grid-cols-1': documentsArray.length === 1, 'grid-cols-5': documentsArray.length > 1}">
              <mat-form-field
                [ngClass]="{'': documentsArray.length === 1, 'col-span-4 mr-3': documentsArray.length > 1}" class="mr-3"
                appearance="outline">
                <mat-label>Indicacion</mat-label>
                <ngx-mat-file-input #removableIndication placeholder="Indicacion"
                  [valuePlaceholder]="fileNameWatcher('indications', in)"
                  (change)="onFileChange($event, 'indications', in)">
                </ngx-mat-file-input>
                <mat-icon *ngIf="removableIndication.empty" style="color: #e2e2e2;" matSuffix>publish</mat-icon>
                <button mat-icon-button matSuffix *ngIf="!removableIndication.empty"
                  (click)="clearArchives('indications', in)" (click)="removableIndication.clear($event)">
                  <mat-icon style="color: #e2e2e2;">clear</mat-icon>
                </button>
              </mat-form-field>
              <div *ngIf="documentsArray.length > 1"
                [ngClass]="{'': documentsArray.length === 1, 'col-span-1': documentsArray.length > 1} ">
                <button mat-mini-fab aria-label=" Eliminar documentos" (click)="removeToList(in)" type="button"
                  class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                  <mat-icon style="color: #18446B">remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button mat-mini-fab aria-label=" Agregar documentos" (click)="addToList()" type="button"
            class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
            <mat-icon style="color: #18446B">add</mat-icon>
          </button>
        </div>
        <mat-action-row class="action-row">
          <button mat-button class="next-button" (click)="nextStep()" type="button">
            Siguiente
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <app-forms-container [titles]="accordionTitles">

      <ng-template #formTemplate>


      </ng-template>

      <ng-template #formTemplate>

      </ng-template>

      <ng-template #formTemplate>

      </ng-template>
    </app-forms-container> -->

  </div>
  <form #form="ngForm" [formGroup]="authorization">
    <div *ngIf="showContent" class="mt-8 mb-4">
      <button mat-button class="cancel-form-button" style="margin-right: 7.5px !important;"
        (click)="formHandler.sendForm(authorization, 'new-authorization', 'cancel')" type="submit">Cancelar</button>
      <button #saveButton name="saveButton" mat-button class="save-button" style="margin-right: 7.5px !important;"
        (click)="sendForm(authorization, 'new-authorization', 'save')" type="submit">Guardar</button>
      <button mat-button class="send-button" (click)="sendForm(authorization, 'new-authorization', 'send', ID)"
        type="submit">Enviar</button>
    </div>
  </form>
</div>
