<div class="mx-4">
  <div class="uppercase dashboard-page-title pt-10">
    NUEVA AUTORIZACIÓN </div>

  <div class="pt-3 pb-0 mt-5 ml-1" style="background-color: #F2F2F2">

    <div class="mt-3 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4">
      <div class="ml-5 pl-5 sm:ml-3 pr-8 xl:mr-3 mb-3 mt-2 m:ml-8 m:pl-8">
        <app-date-picker [group]="authorization" label="Fecha" name="fecha">
        </app-date-picker>
      </div>
    </div>
  </div>

  <div class="pb-1 mt-4">

    <app-forms-container [titles]="accordionTitles">

      <ng-template #formTemplate>
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols3 xl:grid-cols-5">
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Nombre completo asegurado"
              name='nombre' placeholder="Juan Melo de los Santos"></app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="No. póliza" name='noPoliza'
              type="number" placeholder="12345678"></app-input>
          </div>
          <div class="mr-3">
            <app-radio-button [group]="authorization.get('informacionAsegurado')" [options]="generos" name="sexo">
            </app-radio-button>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Correo" name='correo'
              placeholder="ars.info@seguros.com.do"></app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Dirección residencia" name='direccion'
              placeholder="Calle 5, Casa #50, ..."></app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Teléfono residencia"
              name='telefonoResidencia' type="number" placeholder="8090010000">
            </app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Teléfono celular"
              name='telefonoCelular' type="number" placeholder="8090010001"></app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado')" label="Teléfono oficina"
              name='telefonoOficina' type="number" placeholder="8090010002"></app-input>
          </div>
        </div>

        <div class="grid grid-cols-1 xl:ml-3 mt-5">
          <div class="mr-3 mb-3 sm:mb-3 md:mb-0 lg:mb-0 xl:mb-0 ">
            <app-radio-button [group]="authorization.get('informacionAsegurado')" [options]="seguros" name="otroSeguro"
              (selected)="selectChange($event)">
            </app-radio-button>
          </div>
        </div>

        <!-- INFORMACION DEL SEGURO EXTRA -->
        <div *ngIf="this.authorization.get('informacionAsegurado').get('seguro')"
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-5">
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado').get('seguro')" label="Nombre compañía"
              name='nombre' placeholder="WorldWide Seguros"></app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado').get('seguro')" label="No. póliza"
              name='noPoliza' type="number" placeholder="12345678"></app-input>
          </div>
          <div class="mr-3">
            <app-date-picker [group]="authorization.get('informacionAsegurado').get('seguro')" label="Fecha de emisión"
              name="fecha">
            </app-date-picker>
          </div>
          <div class="mr-3">
            <app-input [group]="authorization.get('informacionAsegurado').get('seguro')" label="Suma asegurada"
              name='suma' type="number" placeholder="20,000$ USD"></app-input>
          </div>
        </div>

      </ng-template>

      <ng-template #formTemplate>
        <div class="grid grid-cols-1  sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">

          <!--  PRIMERA COLUMNA -->
          <div class="mr-12">
            <app-input [group]="authorization.get('informacionMedica')" label="Diagnóstico principal" name='diagnostico'
              placeholder="Dolor de cabeza">
            </app-input>
            <div style="max-width: 170px;">
              <app-radio-button [group]="authorization.get('informacionMedica')" [options]="condiciones"
                name="condicion">
              </app-radio-button>
            </div>
            <app-input [group]="authorization.get('informacionMedica')" label="Procedimiento a realizar"
              name='procedimiento' placeholder="Operación ...">
            </app-input>
          </div>

          <!--  SEGUNDA COLUMNA -->
          <div class="mr-12">
            <app-date-picker [group]="authorization.get('informacionMedica').get('primerosSintomas')"
              label="Fecha primeros síntomas" name="fecha">
            </app-date-picker>
            <div class="my-4">
              <label> <strong> Médico tratante: </strong> </label>
            </div>
            <app-input [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Nombre"
              name="nombreMedico">
            </app-input>
            <app-input [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Dirección"
              name="direccion">
            </app-input>
            <app-input [group]="authorization.get('informacionMedica').get('primerosSintomas')" label="Teléfono"
              name="telefono">
            </app-input>
          </div>

          <!--  TERCERA COLUMNA -->
          <div class="mr-12">
            <app-date-picker [group]="authorization.get('informacionMedica').get('admision')"
              label="Fecha probable admisión" name="fecha">
            </app-date-picker>
            <div class="my-4">
              <label> <strong> Médico que lo refiere: </strong> </label>
            </div>
            <app-input [group]="authorization.get('informacionMedica').get('admision')" label="Nombre"
              name="nombreMedico">
            </app-input>
            <app-input [group]="authorization.get('informacionMedica').get('admision')" label="Dirección"
              name="direccion">
            </app-input>
            <app-input [group]="authorization.get('informacionMedica').get('admision')" label="Teléfono"
              name="telefono">
            </app-input>
          </div>

          <!--  CUARTA COLUMNA -->
          <div class="mr-12">
            <app-input [group]="authorization.get('informacionMedica')" label="Tiempo probable estadía (días)"
              name="tiempoEstadia">
            </app-input>
            <div class="my-4">
              <label> <strong> Proveedor del servicio: </strong> </label>
            </div>
            <app-input [group]="authorization.get('informacionMedica')" label="Nombre" name="nombreServicio">
            </app-input>
            <app-input [group]="authorization.get('informacionMedica')" label="Dirección" name="direccion">
            </app-input>
            <app-input [group]="authorization.get('informacionMedica')" label="Teléfono" name="telefono">
            </app-input>
          </div>
        </div>
      </ng-template>

    </app-forms-container>

  </div>
  <div class="mt-12 mb-4">
    <button mat-button class="send-button" (click)="formHandler.sendForm(authorization, 'new-authorization')"
      type="submit">Enviar</button>
  </div>

</div>
