<div class="pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
  <div class="uppercase dashboard-page-title pt-12">Autorizaciones</div>
  <div class="mt-6 w-full">
    <!-- <app-filter [status]="statusTypes"></app-filter> -->
    <app-filter (childEvent)="getAuthorizations($event)" [fills]="fills"></app-filter>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-10">
    <div class="dashboard-page-subtitle flex
        justify-center sm:justify-center md:justify-start
         lg:justify-start
         xl:justify-start
        ">Lista de Autorizaciones</div>
    <div class="flex
        justify-center sm:justify-center md:justify-end lg:justify-end xl:justify-end
        mt-3 sm:mt-3 md:mt-0 lg:mt-0 xl:mt-0
        ">
      <mat-bar-button [options]="newAuthorizationButtonOptions" (btnClick)="newClaim()"></mat-bar-button>
    </div>
  </div>
  <div class="mt-6 pb-8 w-full ">

    <div class="table-responsive" style="overflow-y: hidden; overflow-x: auto; max-width: 100%;">
      <table mat-table [dataSource]="dataSource" matSort class="w-full dashboard-basic-table">
        <ng-container matColumnDef="noPoliza" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> No. Póliza</th>
          <td class="padding-cell" mat-cell *matCellDef="let element"
            style="color: #007DB7 !important; font-weight: 500 !important;"> {{element.noPoliza}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombres" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Nombres</th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.nombres | titlecase}}</td>
        </ng-container>
        <ng-container matColumnDef="apellidos" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.apellidos | titlecase}}</td>
        </ng-container>
        <ng-container matColumnDef="tipoReclamo" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo</th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.tipoReclamo | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="procedimiento" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Procedimiento </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.procedimiento}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreServicio" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Servicio </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.nombreServicio}}
          </td>
        </ng-container>

        <ng-container matColumnDef="condicion" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Condición </th>
          <td class="padding-cell" mat-cell *matCellDef="let element">
            {{element.condicion | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="status" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"
            [ngClass]="{'text-color-yellow': element.status === 0, 'text-color-red': element.status === 4, 'text-color-green': element.status === 2}">
            {{element.status | tableStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones" style="text-align: end !important; margin-right: 15px !important; ">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef
            style="max-width: 110px !important; min-width: 68px !important; width: 68px !important;"> Acciones </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"
            style="max-width: 140px !important; min-width: 137px !important; width: 137px !important;">
            <button mat-mini-fab aria-label="Ver mas" (click)="seeRequest(element.id)" *ngIf="element.status === 2"
              class="dashboard-table-buttons" title="Ver mas">
              <img src="../../../../assets/iconos/eye.svg">
            </button>
            <button *ngIf="element.status === 1" (click)="directSendAuthorization(element.id)" mat-mini-fab
              aria-label="Enviar" class="dashboard-table-buttons" title="Enviar" >
              <img src="../../../../assets/iconos/send.svg">
            </button>
            <button *ngIf="element.status !== 2" (click)="this.newAuthorization.getID(element.id)" mat-mini-fab
              aria-label="Editar" class="dashboard-table-buttons" title="Editar">
              <img src="../../../../assets/iconos/edit.svg">
            </button>
            <button *ngIf="element.status !== 2" (click)="deleteAuthorization(element.id)" mat-mini-fab
              aria-label="Eliminar" class="dashboard-table-buttons" title="Eliminar">
              <img src="../../../../assets/iconos/trash.svg">
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator color="accent" class="dashboard-table-paginator" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>
