<div class="pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
  <div class="uppercase dashboard-page-title pt-20">Autorizaciones</div>
  <div class="mt-6 w-full">
    <!-- <app-filter [status]="statusTypes"></app-filter> -->
    <app-filter (childEvent)="getAuthorizations($event)" [fills]="fills"></app-filter>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-10">
    <div class="dashboard-page-subtitle flex
        justify-center sm:justify-center md:justify-start
         lg:justify-start
         xl:justify-start
        ">Lista de Autorizaciones</div>
    <div class="flex
        justify-center sm:justify-center md:justify-end lg:justify-end xl:justify-end
        mt-3 sm:mt-3 md:mt-0 lg:mt-0 xl:mt-0
        ">
      <mat-bar-button [options]="newAuthorizationButtonOptions" (btnClick)="newClaim()"></mat-bar-button>
    </div>
  </div>
  <div class="mt-6 pb-8 w-full ">
    <div class="table-responsive" style="overflow-y: hidden; overflow-x: auto; max-width: 100%;">
      <table mat-table [dataSource]="dataSource" matSort class="w-full dashboard-basic-table">
        <ng-container matColumnDef="no" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> No. Póliza</th>
          <td class="padding-cell" mat-cell *matCellDef="let element"
            style="color: #007DB7 !important; font-weight: 500 !important;"> {{element.informacionAsegurado.noPoliza}}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Asegurado</th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.informacionAsegurado.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="seguro" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Procedimiento </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.informacionMedica.procedimiento}} </td>
        </ng-container>

        <ng-container matColumnDef="plan" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Servicio </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.informacionMedica.nombreServicio}}
          </td>
        </ng-container>

        <ng-container matColumnDef="condicion" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Condición </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.informacionMedica.condicion}} </td>
        </ng-container>

        <ng-container matColumnDef="estatus" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"
            [ngClass]="{'text-color-yellow': element.estatus === 'Enviado', 'text-color-red': element.estatus === 'Denegado'}">
            {{element.statusStr}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones" style="text-align: end !important; margin-right: 15px !important; ">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header
            style="max-width: 110px !important;"> Acciones </th>
          <td class="padding-cell" mat-cell *matCellDef="let element" style="max-width: 110px !important;">
            <!-- <button mat-mini-fab aria-label="Ver mas" class="dashboard-table-buttons">
              <img src="../../../../assets/iconos/eye.svg">
            </button> -->
            <button (click)="this.newAuthorization.getID(element.id)" mat-mini-fab aria-label="Editar"
              class="dashboard-table-buttons">
              <img src="../../../../assets/iconos/edit.svg">
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator color="accent" class="dashboard-table-paginator" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>
