<div class="pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
  <h3 class="uppercase dashboard-page-title pt-20">solicitud - Suscripción</h3>
  <div class="mt-6 p-3 pb-0 info-home">
    <div class="filter-title">Info. Inicio</div>
    <div class="mt-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">
      <div class="mr-3">
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
          style="font-size: small !important;">
          <mat-label>No. Cotización</mat-label>
          <input matInput class="" placeholder="Jorge Segura">
        </mat-form-field>
      </div>

      <app-select [options]="options" [group]="newRequest"></app-select>

    </div>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab label="Asegurado" class="mat-tab-forms">
        <app-forms-container [titles]="titles" [Form]="newRequest">
          <ng-template #formTemplate>
            <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Primer Nombre" name='firstName'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Segundo Nombre" name='secondName'>
              </app-input>
              <app-input id='date' class="mr-3 pt-21" [group]="newRequest.get('person')"
                label="Apellidos / Apellido de Casada" name='lastName'></app-input>
              <div class="mr-3">
                <label>Fecha de Nacimiento</label>
                <app-date-picker class="mr-3" [group]="newRequest.get('person')" name='date'>
                </app-date-picker>
              </div>
              <app-radio-button class="mr-3 pt-21" [group]="newRequest.get('person')" name="sex" [options]="sex">
              </app-radio-button>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Nacionalidad" name='nationality'>
              </app-input>

              <div class="mr-3">
                <label>Estado Civil</label>
                <app-select class="mr-3" id="status" [options]="status" [group]="newRequest.get('person')">
                </app-select>
              </div>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Cédula/Pasaporte" name='id'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Edad" name='age'></app-input>
              <div class="mr-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
                <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Peso / lbs" name='weight'>
                </app-input>
                <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Lbs" name='height'></app-input>
              </div>
              <div class="mr-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
                <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Ingreso Anual"
                  name='annualIncome'>
                </app-input>
                <app-select class="mr-3 pt-21
                  " id="status" [options]="currency" placeholder='Moneda' [group]="newRequest.get('person')">
                </app-select>
              </div>
              <div class="mr-3">
                <label for="">País de Residencia</label>
                <app-select class="mr-3" [options]=" countryOfResidence" [group]="newRequest.get('person')">
                </app-select>
              </div>
              <div class="mr-3">
                <label for="">País de Nacimiento</label>
                <app-select class="mr-3" [options]="countryOfBirth" [group]="newRequest.get('person')"></app-select>
              </div>
              <div class="mr-3 col-span-2">
                <label for="">Dirección de Residencia</label>
                <app-input class="mr-3" [group]="newRequest.get('person')"
                  placeholder='Provincia/Distrito/Corregimiento/Urbanización/Calle/Casa o Apto./Edificio.'
                  name='direction'></app-input>
              </div>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Tel. Residencia" name='tel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Tel. Celular" name='cel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Tel. Oficina" name='officeTel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Correo" name='email'></app-input>
            </div>
          </ng-template>
          <ng-template #formTemplate>
            <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')" label="Nombre de la compañía"
                name='CompanyName'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')" label="Ocupación y Profesión"
                name='profession'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')"
                label="Actividad Económica de la empresa" name='economicActivity'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')" label="Años de empleo en la compañía"
                name='years'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')" label="Deberes (Favor de dar detalles)"
                name='jobDuties'></app-input>
              <div class="mr-3">
                <label for="">Dirección de Residencia</label>
                <app-input [group]="newRequest.get('employer')"
                  placeholder="Provincia/Distrito/Corregimiento/Urbanización/Calle/Casa o Apto./Edificio."
                  name='countryOfResidence'></app-input>
              </div>

            </div>


          </ng-template>
          <ng-template #formTemplate>
            <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Primer Nombre"
                name='firstName'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Segundo Nombre"
                name='secondName'>
              </app-input>
              <app-input id='date' class="mr-3 pt-21" [group]="newRequest.get('contractor')"
                label="Apellidos / Apellido de Casada" name='lastName'></app-input>
              <div class="mr-3">
                <label>Fecha de Nacimiento</label>
                <app-date-picker class="mr-3" [group]="newRequest.get('contractor')" name='date'>
                </app-date-picker>
              </div>
              <app-radio-button class="mr-3 pt-21" [group]="newRequest.get('contractor')" name="sex" [options]="sex">
              </app-radio-button>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Nacionalidad"
                name='nationality'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Cédula/Pasaporte" name='id'>
              </app-input>


              <div class="mr-3">
                <label for="">País de Nacimiento</label>
                <app-select class="mr-3" [options]="countryOfBirth" [group]="newRequest.get('contractor')"></app-select>
              </div>

              <div class="mr-3">
                <label>Estado Civil</label>
                <app-select class="mr-3" id="status" [options]="status" [group]="newRequest.get('contractor')">
                </app-select>
              </div>
              <div class="mr-3">
                <label for="">País de Residencia</label>
                <app-select class="mr-3" [options]=" countryOfResidence" [group]="newRequest.get('contractor')">
                </app-select>
              </div>
              <div class="mr-3 col-span-2">
                <label for="">Dirección de Residencia</label>
                <app-input class="mr-3" [group]="newRequest.get('contractor')"
                  placeholderM='Provincia/Distrito/Corregimiento/Urbanización/Calle/Casa o Apto./Edificio.'
                  name='direction'></app-input>
              </div>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Tel. Residencia" name='tel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Tel. Celular" name='cel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Tel. Oficina"
                name='officeTel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Fax" name='fax'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Correo" name='email'>
              </app-input>
            </div>
            <mat-divider></mat-divider>
            <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor').get('company')"
                label="Empresa donde labora" name='name'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor').get('company')"
                label="Ocupación / Cargo" name='position'></app-input>
              <div class="mr-3 col-span-2">
                <label for="">Dirección de Residencia</label>
                <app-input class="mr-3" [group]="newRequest.get('contractor').get('company')"
                  placeholderM='Provincia/Distrito/Corregimiento/Urbanización/Calle/Casa o Apto./Edificio.'
                  name='direction'></app-input>
              </div>

              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor').get('company')"
                label="Actividad Económica de la Empresa" name='economicActivity'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor').get('company')" label="Ciudad"
                name='city'></app-input>
              <div class="mr-3">
                <label for="">País</label>
                <app-select class="mr-3" [options]="country" name='country'
                  [group]="newRequest.get('contractor').get('company')"></app-select>
              </div>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor').get('company')"
                label="Propósito del Seguro" name='country'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor').get('company')"
                label="Parentesco con el asegurado" name='city'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor').get('company')"
                label="Propósito del Seguro" name='insurancePurpose'></app-input>
              <div class="mr-3">
                <label for="">País(es) donde el contratante tributa por sus ingresos</label>
                <app-select class="mr-3" [options]="country" name='contractorCountry'
                  [group]="newRequest.get('contractor').get('company')"></app-select>
              </div>
            </div>
          </ng-template>
          <ng-template #formTemplate>
            <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer')" label="Primer Nombre" name='firstName'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer')" label="Segundo Nombre" name='secondName'>
              </app-input>
              <app-input id='date' class="mr-3 pt-21" [group]="newRequest.get('payer')"
                label="Apellidos / Apellido de Casada" name='lastName'></app-input>
              <div class="mr-3">
                <label>Fecha de Nacimiento</label>
                <app-date-picker class="mr-3" [group]="newRequest.get('payer')" name='date'>
                </app-date-picker>
              </div>
              <app-radio-button class="mr-3 pt-21" [group]="newRequest.get('payer')" name="sex" [options]="sex">
              </app-radio-button>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer')" label="Nacionalidad" name='nationality'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer')" label="Cédula/Pasaporte" name='id'>
              </app-input>


              <div class="mr-3">
                <label for="">País de Nacimiento</label>
                <app-select class="mr-3" [options]="countryOfBirth" [group]="newRequest.get('payer')"></app-select>
              </div>

              <div class="mr-3">
                <label>Estado Civil</label>
                <app-select class="mr-3" id="status" [options]="status" [group]="newRequest.get('payer')">
                </app-select>
              </div>
              <div class="mr-3">
                <label for="">País de Residencia</label>
                <app-select class="mr-3" [options]=" countryOfResidence" [group]="newRequest.get('payer')">
                </app-select>
              </div>
              <div class="mr-3 col-span-2">
                <label for="">Dirección de Residencia</label>
                <app-input class="mr-3" [group]="newRequest.get('payer')"
                  placeholderM='Provincia/Distrito/Corregimiento/Urbanización/Calle/Casa o Apto./Edificio.'
                  name='direction'></app-input>
              </div>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer')" label="Tel. Residencia" name='tel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer')" label="Tel. Celular" name='cel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer')" label="Tel. Oficina" name='officeTel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer')" label="Fax" name='fax'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer')" label="Correo" name='email'></app-input>
            </div>
            <mat-divider></mat-divider>
            <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer').get('company')"
                label="Empresa donde labora" name='name'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer').get('company')" label="Ocupación / Cargo"
                name='position'></app-input>
              <div class="mr-3 col-span-2">
                <label for="">Dirección de Residencia</label>
                <app-input class="mr-3" [group]="newRequest.get('payer').get('company')"
                  placeholderM='Provincia/Distrito/Corregimiento/Urbanización/Calle/Casa o Apto./Edificio.'
                  name='direction'></app-input>
              </div>

              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer').get('company')"
                label="Actividad Económica de la Empresa" name='economicActivity'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer').get('company')" label="Ciudad" name='city'>
              </app-input>
              <div class="mr-3">
                <label for="">País</label>
                <app-select class="mr-3" [options]="country" name='country'
                  [group]="newRequest.get('contractor').get('company')"></app-select>
              </div>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer').get('company')"
                label="Propósito del Seguro" name='country'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer').get('company')"
                label="Parentesco con el asegurado" name='city'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('payer').get('company')"
                label="Parentesco o relación con el asegurado" name='kinship'></app-input>
              <div class="mr-3">
                <label for="">País(es) donde el contratante tributa por sus ingresos</label>
                <app-select class="mr-3" [options]="country" name='contractorCountry'
                  [group]="newRequest.get('payer').get('company')"></app-select>
              </div>
            </div>
          </ng-template>
          <ng-template #formTemplate>
            <div class="colorb">
              <p>Las Personas Políticamente Expuestas son aquéllas que desempeñan o han desempeñado funciones públicas
                destacadas en un país extranjero o en su propio país, ej. Jefes de Estado o de gobierno, políticos de
                alta jerarquía, funcionarios gubernamentales, judiciales o militares de alta jerarquía, altos ejecutivos
                de empresas estatales, funcionarios importantes de partidos políticos, entre otros. La designación de
                PEP incluye a su cónyuge y familiares hasta el segundo grado de consanguinidad y segundo de afinidad.
              </p>
            </div>

            <h4 class='pb-3 pt-3'>¿Es Usted una Persona Políticamente Expuesta?</h4>

            <div class=' pt-5 grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-5'>
              <app-input class="mr-3" [group]="newRequest.get('exposedPerson')" label="Cargo actual o anterior"  name='lastPosition'></app-input>
              <app-input class="mr-3" [group]="newRequest.get('exposedPerson')" label="Tiempo" name='time'></app-input>
              <app-select class="mr-3" [options]="year" [group]="newRequest.get('exposedPerson')"></app-select>
              <app-radio-button class="mr-3" title="Asegurado" [group]="newRequest.get('exposedPerson')" name="insured" [options]="res"></app-radio-button>
              <app-radio-button class="mr-3" title="Contratante" [group]="newRequest.get('exposedPerson')" name="contractor" [options]="res"></app-radio-button>
              <app-radio-button class="mr-3" title="Pagador" [group]="newRequest.get('exposedPerson')" name="payer" [options]="res"></app-radio-button>
            </div>

          </ng-template>
          <ng-template #formTemplate>
            <app-radio-button class="mr-3" title="Ingresos anuales actividad principal" [group]="newRequest.get('financialProfile')" name="annualIncome" [options]="annualIncomeValues"></app-radio-button>
            <app-radio-button class="mr-3" title="Ingresos anuales por otras actividades" [group]="newRequest.get('financialProfile')" name="othersAnnualIncome" [options]="annualIncomeValues"></app-radio-button>
          <br><p>Origen de los fondos para pago de la póliza, ¿de dónde provienen?</p>
          <app-text-area [group]="newRequest.get('financialProfile')" label="Texto" name='paymentOrigin'>
          </app-text-area>
          </ng-template>
          <!-- <ng-template #formTemplate>hola 7</ng-template> -->
          <ng-template #formTemplate>
            <app-radio-button class="mr-3" title="Ingresos anuales actividad principal" [group]="newRequest" name="IncomeMainActivity" [options]="mainActivity"></app-radio-button>
          </ng-template>
          <ng-template #formTemplate>
            <div [formGroup]="newRequest.get('primaryBenefits')"> 
              <div formArrayName="dependentsC">
                <div *ngFor="let element of primaryBenefitsArray.controls; let index = index">
                  <div [formGroupName]="index">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
                      <app-input class="mr-3"
                        [group]="newRequest.get('primaryBenefits').get('dependentsC').get(index.toString())"
                        label="Nombres y Apellidos" name='name'></app-input>
                      <app-date-picker class="mr-3" id='date'
                        [group]="newRequest.get('primaryBenefits').get('dependentsC').get(index.toString())"
                        label="fecha" name='date'></app-date-picker>
                      <app-input class="mr-3"
                        [group]="newRequest.get('primaryBenefits').get('dependentsC').get(index.toString())"
                        label="Documento de Identidad" name='id'></app-input>
                      <app-input class="mr-3"
                        [group]="newRequest.get('primaryBenefits').get('dependentsC').get(index.toString())"
                        label="Nacionalidad" name='nationality'></app-input>
                      <app-input class="mr-3"
                        [group]="newRequest.get('primaryBenefits').get('dependentsC').get(index.toString())"
                        label="Ocupación" name='ocupation'></app-input>
                      <app-select class="mr-3" [options]="family"
                        [group]="newRequest.get('primaryBenefits').get('dependentsC').get(index.toString())">
                      </app-select>
                      <app-input class="mr-3"
                        [group]="newRequest.get('primaryBenefits').get('dependentsC').get(index.toString())"
                        label="Cant." name='quantity'></app-input>
                    </div>

                    <div class="pb-5">
                      <button mat-mini-fab aria-label="Agregar reclamacion"
                        (click)="add(primaryBenefitsArray,primaryBenefits)" type="button"
                        class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                        <mat-icon style="color: #18446B">add</mat-icon>
                      </button>

                      <button *ngIf="newRequest.get('primaryBenefits').get('dependentsC')['controls'].length > 1"
                        mat-mini-fab aria-label="Eliminar reclamacion"
                        (click)="formMethods.deleteOneElement(primaryBenefitsArray, index)" type="button"
                        class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                        <mat-icon style="color: #18446B">remove</mat-icon>
                      </button>
                    </div>


                    <mat-divider class="pt-5"></mat-divider><br>
                  </div>
                </div>
              </div>
            </div>
             <div>
              <p>Si a mi fallecimiento alguno de mis Beneficiarios Primarios es menor de edad, el beneficio
                correspondiente será entregado a</p><br>
              <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4'>
                <app-select class="mr-3" [options]="family"
                  [group]="newRequest.get('primaryBenefits').get('personBenefited')"></app-select>
                <app-select class="mr-3" [options]="family"
                  [group]="newRequest.get('primaryBenefits').get('personBenefited')"></app-select>
                <app-input class="mr-3" [group]="newRequest.get('primaryBenefits').get('personBenefited')" label="Cant."
                  name='id'></app-input>
              </div>
            </div> 
          </ng-template>
          <!-- <ng-template #formTemplate>hola 10</ng-template>
          <ng-template #formTemplate>hola 11</ng-template>
          <ng-template #formTemplate>hola 12</ng-template>
          <ng-template #formTemplate>hola 13</ng-template>
          <ng-template #formTemplate>hola 14</ng-template> -->


        </app-forms-container>
      </mat-tab>
      <mat-tab label="D01" class="mat-tab-forms"></mat-tab>
    </mat-tab-group>
  </div>
</div>