<div class="pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
  <h3 class="uppercase dashboard-page-title pt-20">solicitud - Suscripción</h3>
  <div class="mt-6 p-3 pb-0 info-home">
    <div class="filter-title">Info. Inicio</div>
    <div class="mt-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">
      <div class="mr-3">
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
          style="font-size: small !important;">
          <mat-label>No. Cotización</mat-label>
          <input matInput class="" placeholder="Jorge Segura">
        </mat-form-field>
      </div>

      <app-select [options]="options" [group]="newRequest"></app-select>

    </div>
  </div>
  <!-- <div>
    <mat-tab-group>
      <mat-tab label="Asegurado" class="mat-tab-forms">
        <app-forms-container [titles]="titles" [Form]="newRequest">
          <ng-template #formTemplate>
            <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Primer Nombre" name='firstName'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Segundo Nombre" name='secondName'>
              </app-input>
              <app-input id='date' class="mr-3 pt-21" [group]="newRequest.get('person')"
                label="Apellidos / Apellido de Casada" name='lastName'></app-input>
              <div class="mr-3">
                <label>Fecha de Nacimiento</label>
                <app-date-picker class="mr-3" [group]="newRequest.get('person')" name='date'>
                </app-date-picker>
              </div>
              <app-radio-button class="mr-3 pt-21" [group]="newRequest.get('person')" name="sex" [options]="sex">
              </app-radio-button>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Nacionalidad" name='nationality'>
              </app-input>

              <div class="mr-3">
                <label>Estado Civil</label>
                <app-select class="mr-3" id="status" [options]="status" [group]="newRequest.get('person')">
                </app-select>
              </div>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Cédula/Pasaporte" name='id'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Edad" name='age'></app-input>
              <div class="mr-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
                <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Peso / lbs" name='weight'>
                </app-input>
                <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Lbs" name='height'></app-input>
              </div>
              <div class="mr-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
                <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Ingreso Anual"
                  name='annualIncome'>
                </app-input>
                <app-select class="mr-3 pt-21
                  " id="status" [options]="currency" placeholder='Moneda' [group]="newRequest.get('person')">
                </app-select>
              </div>
              <div class="mr-3">
                <label for="">País de Residencia</label>
                <app-select class="mr-3" [options]=" countryOfResidence" [group]="newRequest.get('person')">
                </app-select>
              </div>
              <div class="mr-3">
                <label for="">País de Nacimiento</label>
                <app-select class="mr-3" [options]="countryOfBirth" [group]="newRequest.get('person')"></app-select>
              </div>
              <div class="mr-3 col-span-2">
                <label for="">Dirección de Residencia</label>
                <app-input class="mr-3" [group]="newRequest.get('person')"
                  placeholder='Provincia/Distrito/Corregimiento/Urbanización/Calle/Casa o Apto./Edificio.'
                  name='direction'></app-input>
              </div>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Tel. Residencia" name='tel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Tel. Celular" name='cel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Tel. Oficina" name='officeTel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('person')" label="Correo" name='email'></app-input>
            </div>
          </ng-template>
          <ng-template #formTemplate>
            <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')" label="Nombre de la compañía"
                name='CompanyName'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')" label="Ocupación y Profesión"
                name='profession'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')"
                label="Actividad Económica de la empresa" name='economicActivity'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')" label="Años de empleo en la compañía"
                name='years'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('employer')" label="Deberes (Favor de dar detalles)"
                name='jobDuties'></app-input>
              <div class="mr-3">
                <label for="">Dirección de Residencia</label>
                <app-input [group]="newRequest.get('employer')"
                  placeholder="Provincia/Distrito/Corregimiento/Urbanización/Calle/Casa o Apto./Edificio."
                  name='countryOfResidence'></app-input>
              </div>
            </div>

          </ng-template>
          <ng-template #formTemplate>
            <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Primer Nombre" name='firstName'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Segundo Nombre" name='secondName'>
              </app-input>
              <app-input id='date' class="mr-3 pt-21" [group]="newRequest.get('contractor')"
                label="Apellidos / Apellido de Casada" name='lastName'></app-input>
              <div class="mr-3">
                <label>Fecha de Nacimiento</label>
                <app-date-picker class="mr-3" [group]="newRequest.get('contractor')" name='date'>
                </app-date-picker>
              </div>
              <app-radio-button class="mr-3 pt-21" [group]="newRequest.get('contractor')" name="sex" [options]="sex">
              </app-radio-button>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Nacionalidad" name='nationality'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Cédula/Pasaporte" name='id'>
              </app-input>
              
             
              <div class="mr-3">
                <label for="">País de Nacimiento</label>
                <app-select class="mr-3" [options]="countryOfBirth" [group]="newRequest.get('contractor')"></app-select>
              </div>
              
              <div class="mr-3">
                <label>Estado Civil</label>
                <app-select class="mr-3" id="status" [options]="status" [group]="newRequest.get('contractor')">
                </app-select>
              </div>
              <div class="mr-3">
                <label for="">País de Residencia</label>
                <app-select class="mr-3" [options]=" countryOfResidence" [group]="newRequest.get('contractor')">
                </app-select>
              </div>
              <div class="mr-3 col-span-2">
                <label for="">Dirección de Residencia</label>
                <app-input class="mr-3" [group]="newRequest.get('contractor')"
                placeholderM='Provincia/Distrito/Corregimiento/Urbanización/Calle/Casa o Apto./Edificio.'
                  name='direction'></app-input>
              </div>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Tel. Residencia" name='tel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Tel. Celular" name='cel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Tel. Oficina" name='officeTel'>
              </app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Fax" name='fax'></app-input>
              <app-input class="mr-3 pt-21" [group]="newRequest.get('contractor')" label="Correo" name='email'></app-input>
            </div>
          </ng-template>
          <ng-template #formTemplate>hola 4</ng-template>
          <ng-template #formTemplate>hola 5</ng-template>
          <ng-template #formTemplate>hola 6</ng-template>
          <ng-template #formTemplate>hola 7</ng-template>
          <ng-template #formTemplate>hola 8</ng-template>
          <ng-template #formTemplate>hola 9</ng-template>
          <ng-template #formTemplate>hola 10</ng-template>
          <ng-template #formTemplate>hola 11</ng-template>
          <ng-template #formTemplate>hola 12</ng-template>
          <ng-template #formTemplate>hola 13</ng-template>
          <ng-template #formTemplate>hola 14</ng-template>


        </app-forms-container>
      </mat-tab>
      <mat-tab label="D01" class="mat-tab-forms"></mat-tab>
    </mat-tab-group>
  </div> -->
</div>
