<form [formGroup]="filterForm" (ngSubmit)="sendFilterParamsToParent(filterForm.value)" class="p-3 pb-0"
  style="background-color: #F2F2F2">
  <div class="filter-title">Filtro Rápido</div>
  <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-21">
    <div *ngIf="fills.fillType=='tipoSeguro'" class="mr-3  col-span-1 xl:col-span-4">
      <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
        <mat-label>Tipo de Seguro</mat-label>
        <mat-select formControlName="tipoSeguro">
          <mat-option value="Salud">Salud</mat-option>
          <mat-option value="Vida">Vida</mat-option>
          <mat-option value="Disability">Disability</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="fills.fillType=='nroPoliza'" class="mr-3 col-span-1 xl:col-span-4">
      <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
        style="font-size: small !important;">
        <mat-label>No. Póliza</mat-label>
        <input formControlName="nroPoliza" matInput class="" placeholder="">
      </mat-form-field>
    </div>
    <div class="mr-3 col-span-1 xl:col-span-4">
      <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
        <mat-label>Estatus</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let stat of fills.status" [value]="stat.value">{{stat.view | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mr-3 col-span-1 xl:col-span-4">
      <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
        <mat-label>Desde</mat-label>
        <input formControlName="from" [max]="filterForm.get('to').value" matInput [matDatepicker]="initialDate"
          placeholder="25/12/2019">
        <mat-datepicker-toggle matSuffix [for]="initialDate"></mat-datepicker-toggle>
        <mat-datepicker #initialDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mr-3 col-span-1 xl:col-span-4">
      <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
        <mat-label>Hasta</mat-label>
        <input formControlName="to" [min]="filterForm.get('from').value" matInput [matDatepicker]="finalDate"
          placeholder="04/03/2020">
        <mat-datepicker-toggle matSuffix [for]="finalDate"></mat-datepicker-toggle>
        <mat-datepicker #finalDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mr-3 col-span-1 xl:col-span-4">
      <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
        style="font-size: small !important;">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput class="" placeholder="Jorge Segura">
      </mat-form-field>
    </div>
    <div *ngIf="isXlSize()">
      <button type="submit" class="flex justify-center content-center nofocus small-search-button">
        <img src="/assets/iconos/search-icon.svg">
      </button>
    </div>
    <div class="mr-3" *ngIf="!isXlSize()">
      <!-- <mat-bar-button type="submit" [options]="searchButton"></mat-bar-button> -->
      <button mat-button class="big-search-button" type="submit"><img src="/assets/iconos/search-small.svg"
          style="display: inline;">
        <div style="display: inline; padding-left: 10px;">Buscar</div>
      </button>
    </div>

  </div>
</form>

<div *ngIf="false">
  <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
    style="font-size: small !important; margin: auto;">
    <mat-label>No. Poliza</mat-label>
    <input formControlName="name" matInput class="" placeholder="Jorge Segura">
  </mat-form-field>
</div>
