<div [formGroup]="group" class="radio-container" [ngClass]="{'pt': center === 'true'}">
  <mat-label *ngIf='options.label || title' class="radio-button-label">{{options.label || title}}</mat-label><br
    *ngIf='options.label || title'>
  <mat-radio-group aria-labelledby="example-radio-group-label" [formControlName]="name" class="radio-group">
    <mat-radio-button *ngFor="let option of options.options" [value]="option.value" (change)="emitter($event)"
      class="mr-3 radio-button">
      <span style="white-space: normal;"> {{option.viewValue}} </span> </mat-radio-button>
  </mat-radio-group>
  <mat-error style="font-size: 10px;"
    *ngIf="group.get(name).touched && !group.get(name).valid && (group.get(name).value === null || group.get(name).value === '' || group.get(name).value === undefined)">
    Este campo es
    obligatorio.</mat-error>
</div>
