<app-major-expenses *ngIf="changeForm.get('solicitudGastosMayores')" [changeData]="data" [isChange]="true"
  [changeForm]="changeForm"></app-major-expenses>
<app-life *ngIf="changeForm.get('solicitudVida')" [changeData]="data" [isChange]="true" [changeForm]="changeForm">
</app-life>

<div *ngIf="changeForm.get('formularioCambio')" class="p-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
  <h3 class="uppercase dashboard-page-title pt-8 mb-6">Solicitud de Cambio</h3>
  <app-dynamic-form class="mb-3" *ngIf="changeForm.get('formularioCambio')" [form]="changeForm.get('formularioCambio')"
    [ID]="null"></app-dynamic-form>
    <div class="mt-4" *ngIf="hideButtonsFechaSolicitud">
      <label> <b style="color: red;"> OJO: </b>Si puede ver este mensaje, significa que
      la <b> fecha de la solicitud, </b> o sea la fecha de hoy, ya paso la 
      <b> fecha de vigencia de la póliza, </b> y lamentablemente no podemos permitir que se 
      realice este cambio porque las polizas solo se pueden cambiar a vigencia, razón por la cual 
      los botones de <em>"Guardar"</em>&nbsp; y <em>"Enviar"</em>&nbsp; han sido ocultos. </label>
    </div>
    <div class="mt-4" *ngIf="showContent">
      <button mat-button class="cancel-form-button" style="margin-right: 7.5px !important;"
        (click)="formHandler.sendForm(changeForm, 'dynamic-pa', 'cancel')" type="submit">Cancelar</button>
      <button *ngIf="!hideButtonsFechaSolicitud" mat-button class="save-button" style="margin-right: 7.5px !important;"
        (click)="formHandler.sendForm(changeForm, 'dynamic-pa', 'save', appComponent)" type="submit">Guardar</button>
      <button *ngIf="!changeForm.invalid && !hideButtonsFechaSolicitud" mat-button class="send-button" style="margin-right: 7.5px !important;"
        (click)="formHandler.sendForm(changeForm, 'dynamic-pa', 'send', appComponent)" type="submit">Enviar</button>
    </div>
</div>

