<div class="pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
  <div class="uppercase dashboard-page-title pt-20">Reclamos</div>
  <div class="mt-6 w-full">
    <!-- <app-filter [status]="statusTypes"></app-filter> -->
    <app-filter (childEvent)="filterData($event)" [fills]="fills"></app-filter>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-10">
    <div class="dashboard-page-subtitle flex
      justify-center sm:justify-center md:justify-start
       lg:justify-start
       xl:justify-start
      ">Lista de Solicitudes</div>
    <div class="flex
      justify-center sm:justify-center md:justify-end lg:justify-end xl:justify-end
      mt-3 sm:mt-3 md:mt-0 lg:mt-0 xl:mt-0
      ">
      <mat-bar-button [options]="newClaimButtonOptions" (btnClick)="newClaim()"></mat-bar-button>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab class="mat-tab-forms" label="Reclamos" style="min-width: auto !important;">
      <app-claims-list></app-claims-list>
    </mat-tab>
    <mat-tab class="mat-tab-forms" label="Reembolsos" style="min-width: auto !important;">
      <app-refunds-list></app-refunds-list>
    </mat-tab>
  </mat-tab-group>

</div>



<!-- Sin editaar -->
<!-- Editando -->
