<form [formGroup]="filterForm" (ngSubmit)="sendFormToParent()" class="p-3 pb-2 mt-5" style="background-color: #F2F2F2">
  <div class="filter-title">Filtro Rápido</div>
  <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-22">
    <div class="mr-3 xl:col-span-4">
      <mat-form-field *ngIf="timeAutoComplete == 0" color="accent" appearance="outline" class="w-full bg-transparente"
        style="font-size: small !important;">
        <mat-label>Nombre</mat-label>
        <input formControlName="clientName" matInput class="">
      </mat-form-field>
     
        <mat-form-field *ngIf="timeAutoComplete == 1" color="accent" appearance="outline" class="w-full bg-transparente"
          style="font-size: small !important;">
          <mat-label>Nombre</mat-label>
          <input formControlName="clientName" matInput class="" type="text" [matAutocomplete]="auto"
            placeholder="Juan Juan">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
     
    </div>

    <div class="mr-3 xl:col-span-4">
      <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
        style="font-size: small !important;">
        <mat-label>No. Póliza</mat-label>
        <input formControlName="policyId" matInput>
      </mat-form-field>
    </div>

    <!--<div class="mr-3">
      <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
        <mat-label>Estado de Pago</mat-label>
        <mat-select formControlName="paymentState">
          <mat-option value="Pagado">Pagado</mat-option>
          <mat-option value="P">Pendiente</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="mr-3 xl:col-span-4 -mt-4">
      <p class="text-xs">Rango Vigencia</p>
      <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
        <mat-label>Desde</mat-label>
        <input formControlName="initialDate" matInput [matDatepicker]="initialDate" placeholder="25/12/2019">
        <mat-datepicker-toggle matSuffix [for]="initialDate"></mat-datepicker-toggle>
        <mat-datepicker #initialDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="mr-3 xl:col-span-4">
      <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
        <mat-label>Hasta</mat-label>
        <input formControlName="endDate" matInput [matDatepicker]="endDate" placeholder="04/03/2020">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="mr-3 xl:col-span-4">
      <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
        <mat-label>Tipo de Seguro</mat-label>
        <mat-select formControlName="insuranceType">
          <mat-option value="Salud">Salud</mat-option>
          <mat-option value="Vida">Vida</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-2 xl:col-span-2">
      <!-- <button mat-mini-fab color="accent" aria-label="Buscar" (click)="resetForm()">
        <mat-icon>delete</mat-icon>
      </button> -->
      <button (click)="resetForm()" class="flex justify-center content-center nofocus small-search-button"
        style="color: white;">
        <!-- <img src="/assets/iconos/search-icon.svg"> -->
        <mat-icon style="padding-top: 7px;">delete</mat-icon>

      </button>
      <!-- <button mat-mini-fab color="primary" aria-label="Buscar" type="submit" style="margin-right: 5px;">
      <mat-icon>search</mat-icon>
    </button> -->
      <button type="submit" class="flex justify-center content-center nofocus small-search-button">
        <img src="/assets/iconos/search-icon.svg">
      </button>
    </div>
  </div>

</form>
