<mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 2" (opened)="setStep(2)">
  <mat-expansion-panel-header class="body-13 icon-blue">
    <mat-panel-title>
      Cuestionario de Escalada y Montañismo
    </mat-panel-title>
    <mat-panel-description>
      <div></div>
      <div *ngIf="showWarningDot" class="warning-accordion-dot"></div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="my-4 affected-form-name" *ngIf="affected">{{affected}}</div>
  <div class="ml-4 ">

    <!-- Mini Bloque del campo nombre -->
    <!-- <div class="mt-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mr-3">
    
                <app-input [group]="form" label="Nombre(s)" name='name'
                  placeholder="Por ej: Juan Martínez de león de los Santos"></app-input>
    
              </div> -->

    <!-- Bloque 1 -->
    <div class="mt-6 sm:mt-4 md:mt-4 lg:mt-3 xl:mt-3">

      <div>
        <label class="formulary-labels"> 1. ¿Cuáles de las siguientes actividades realiza con seguridad? </label>
      </div>

      <div class="mt-6 ml-3">

        <!-- Fila 1 -->
        <div>

          <div class="inline">
            <label class="" style="font-size: 12px;"> Escalada de paredes artificiales </label>
          </div>

          <div
            class="inline float-right mt-5 -ml-5 -mr-6 sm:ml-0 sm:-mr-1 sm:mt-4 md:ml-0 md:mr-0 md:mt-3 lg:ml-0 lg:mr-0 lg:mt-0 xl:mt-0 xl:ml-0 xl:mr-0">
            <app-radio-button [group]="form.get('activities')" name="artificial_wall_radio" [options]="YesNo">
            </app-radio-button>
          </div>

        </div>

        <!-- Fila 2 -->
        <div class="mt-16">

          <div class="inline">
            <label class="" style="font-size: 12px;"> Espeología y expediciones en cavernas </label>
          </div>

          <div
            class="inline float-right mt-5 -ml-5 -mr-6 sm:ml-0 sm:-mr-1 sm:mt-4 md:mt-3 md:ml-0 md:mr-0 lg:mt-0 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
            <app-radio-button [group]="form.get('activities')" name="expeditions_radio" [options]="YesNo">
            </app-radio-button>
          </div>

        </div>

        <!-- Fila 3 -->
        <div class="mt-16">

          <div class="inline">
            <label class="" style="font-size: 12px;"> Escalada únicamente hasta el nivel 5 de la UIAA </label>
          </div>

          <div
            class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-0 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
            <app-radio-button [group]="form.get('activities')" name="climbing_radio" [options]="YesNo">
            </app-radio-button>
          </div>

        </div>

        <!-- Fila 4 -->
        <div class="mt-16">

          <div class="inline">
            <label class="" style="font-size: 12px;"> Senderismo, trekking, paseo por la montaña </label>
          </div>

          <div
            class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-0 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
            <app-radio-button [group]="form.get('activities')" name="hiking_radio" [options]="YesNo">
            </app-radio-button>
          </div>

        </div>

        <!-- Fila 5 -->
        <div class="mt-16">

          <div class="inline">
            <label class="" style="font-size: 12px;"> Escalada en hielo </label>
          </div>

          <div
            class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-0 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
            <app-radio-button [group]="form.get('activities')" name="ice_climbing_radio" [options]="YesNo">
            </app-radio-button>
          </div>

        </div>

        <!-- Fila 6 -->
        <div class="mt-16">

          <div class="inline">
            <label class="" style="font-size: 12px;"> Montañismo y escalada en roca </label>
          </div>

          <div
            class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-0 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
            <app-radio-button [group]="form.get('activities')" name="rock_climbing_radio" [options]="YesNo">
            </app-radio-button>
          </div>

        </div>

      </div>

    </div>

    <hr class="ww-divider mt-16 lg:mt-10 xl:mt-10">

    <!-- Bloque 2 -->
    <div>

      <div class="mt-10">

        <div>
          <div class="inline">
            <label class="formulary-labels"> 2. ¿Es Ud. miembro de un club u organización de renombre? </label>
          </div>

          <div
            class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-3 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
            <app-radio-button [group]="form.get('club')" name="organization_radio" [options]="YesNo"
              (selected)="selectChange($event)"> </app-radio-button>
          </div>
        </div>

        <div class="mt-4 mr-3" *ngIf="this.form.get('club').get('area_text')">

          <app-text-area label="Por favor, facilite información detallada" name='info'
            [group]="form.get('club').get('area_text')"></app-text-area>

        </div>

      </div>

    </div>

    <hr class="ww-divider mt-16 lg:mt-10 xl:mt-10">

    <!-- Bloque 3 -->
    <div class="mt-8">

      <div>
        <div>
          <label class="formulary-labels"> 3. ¿Cuál es la máxima altura que ha escalado o tiene previsto escalar?
          </label>
        </div>
        <div class="mr-3 mt-6 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
          <app-input [group]="form.get('max_height')" label="Altura Max" name='height' placeholder="Por ej: 30 metros">
          </app-input>
        </div>

      </div>

    </div>

    <hr class="ww-divider mt-10">

    <!-- Bloque 4 -->
    <div class="mt-10">

      <div>
        <div class="inline">
          <label class="formulary-labels"> 4. ¿Ha escalado alguna vez solo o sin cuerdas? </label>
        </div>

        <div
          class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-0 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
          <app-radio-button [group]="form.get('climb')" name="radio" [options]="YesNo"> </app-radio-button>
        </div>
      </div>

    </div>

    <hr class="ww-divider mt-16 lg:mt-10 xl:mt-10">

    <!-- Bloque 5 -->
    <div class="mt-10">

      <div>

        <div class="">
          <label class="formulary-labels"> 5. Por favor, indique la(s) zona(s) en la(s) que ha escalado o tiene
            previsto escalar: </label>
        </div>

        <!-- Sub-bloque 1 -->
        <div>

          <!-- Sub-sub-bloque 1 -->
          <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 mt-6">

            <!-- 1er radio-button -->
            <div>
              <div>
                <label class="formulary-labels"> África </label>
              </div>
              <div class="mt-2 -mr-8 sm:mr-0 md:-mr-2 lg:mr-0 xl:mr-0 ">
                <app-radio-button [group]="form.get('climb_zone')" name="africa" [options]="YesNo"
                  (selected)="selectChange($event)"> </app-radio-button>
              </div>
            </div>

            <!-- 2do radio-button -->
            <div class="md:ml-3 lg:m-0 xl:ml-0">
              <div>
                <label class="formulary-labels"> Alpes </label>
              </div>
              <div class="mt-2 -mr-8 sm:mr-0 md:-mr-5 lg:mr-0 xl:mr-0">
                <app-radio-button [group]="form.get('climb_zone')" name="alpes" [options]="YesNo"
                  (selected)="selectChange($event)"> </app-radio-button>
              </div>
            </div>

            <!-- 3er radio-button -->
            <div>
              <div>
                <label class="formulary-labels"> Himalaya </label>
              </div>
              <div class="mt-2 -mr-8 sm:mr-0 md:-mr-2 lg:mr-0 xl:mr-0 ">
                <app-radio-button [group]="form.get('climb_zone')" name="himalaya" [options]="YesNo"
                  (selected)="selectChange($event)"> </app-radio-button>
              </div>
            </div>

            <!-- 4to radio-button -->
            <div class="md:ml-3 lg:m-0 xl:ml-0">
              <div>
                <label class="formulary-labels"> Andes </label>
              </div>
              <div class="mt-2 -mr-8 sm:mr-0 md:-mr-5 lg:mr-0 xl:mr-0">
                <app-radio-button [group]="form.get('climb_zone')" name="andes" [options]="YesNo"
                  (selected)="selectChange($event)"> </app-radio-button>
              </div>
            </div>
          </div>

          <!-- Sub-sub-bloque 2 -->
          <div class="mt-3">

            <div class="">
              <label class="formulary-labels"> Norte América: </label>
            </div>

            <div class="mt-6 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">

              <!-- 5to radio-button -->
              <div>
                <div>
                  <label class="formulary-labels"> M. McKinley </label>
                </div>
                <div class="mt-2 -mr-8 sm:mr-0 md:-mr-2 lg:mr-0 xl:mr-0">
                  <app-radio-button [group]="form.get('climb_zone')" name="mcKinley" [options]="YesNo"
                    (selected)="selectChange($event)"> </app-radio-button>
                </div>
              </div>

              <!-- 6to radio-button -->
              <div class="md:ml-3 lg:m-0 xl:ml-0">
                <div class="mr-4">
                  <label class="formulary-labels"> Otras cordilleras de Alaska </label>
                </div>
                <div class="mt-2 -mr-8 sm:mr-0 md:-mr-5 lg:mr-0 xl:mr-0">
                  <app-radio-button [group]="form.get('climb_zone')" name="alaska" [options]="YesNo"
                    (selected)="selectChange($event)"> </app-radio-button>
                </div>
              </div>

              <!-- 7mo radio-button -->
              <div>
                <div class="mr-6 xl:mr-4">
                  <label class="formulary-labels"> Cualquier otra cordillera / cadena montañosa </label>
                </div>
                <div class="mt-2 -mr-8 sm:mr-0 md:-mr-2 lg:mr-0 xl:mr-0">
                  <app-radio-button [group]="form.get('climb_zone')" name="mountain_range" [options]="YesNo"
                    (selected)="selectChange($event)"> </app-radio-button>
                </div>
              </div>

              <!-- 8vo radio-button -->
              <div class="md:ml-3 lg:m-0 xl:ml-0">
                <div>
                  <label class="formulary-labels"> Otros </label>
                </div>
                <div class="mt-2 -mr-8 sm:mr-0 md:-mr-5 lg:mr-0 xl:mr-0">
                  <app-radio-button [group]="form.get('climb_zone')" name="others" [options]="YesNo"
                    (selected)="selectChange($event)"> </app-radio-button>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Sub-bloque 2 -->
        <div class="mt-8 mr-3" *ngIf="this.form.get('climb_zone').get('area_text')">

          <app-text-area label="Por favor, facilite información detallada" name='info'
            [group]="form.get('climb_zone').get('area_text')"></app-text-area>

        </div>

      </div>

    </div>

    <hr class="ww-divider mt-16 sm:mt-12 md:mt-10 lg:mt-10 xl:mt-10">

    <!-- Bloque 6 -->
    <div class="mt-8">

      <!-- Superior -->
      <div>
        <div class="inline">
          <label class="formulary-labels"> 6. Espeología y expediciones en cavernas </label>
        </div>

        <div
          class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-0 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
          <app-radio-button [group]="form.get('expeditions')" name="radio" [options]="YesNo"
            (selected)="selectChange($event)"> </app-radio-button>
        </div>

      </div>

      <!-- Filas 6 -->
      <div class="ml-3 mt-16 lg:mt-10 xl:mt-10" *ngIf="this.form.get('expeditions').get('cave')">

        <!-- Fila 6a -->
        <div class="mt-4">

          <div>
            <div class="">
              <label class="formulary-labels"> 6a. ¿Desde cuándo participa en actividades de escalada? </label>
            </div>
            <div class="mr-1 mt-6 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
              <app-date-picker [group]="form.get('expeditions').get('cave')" label="¿Desde qué fecha?" name='date'>
              </app-date-picker>
            </div>
          </div>

        </div>

        <!-- Fila 6b -->
        <div class="mt-4">

          <div>
            <div class="">
              <label class="formulary-labels"> 6b. De media, ¿cuantas veces por año realiza expediciones en
                cavernas? </label>
            </div>
            <div class="mr-3 mt-6 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
              <app-number-input [group]="form.get('expeditions').get('cave')" label="Por año" name='quantity'
                placeholder="Por ej: 7" min="0"></app-number-input>
            </div>
          </div>

        </div>

        <!-- Fila 6c -->
        <div class="mt-16 sm:mt-0">

          <div class="mt-8">
            <div class=" inline">

              <label class="formulary-labels"> 6c. ¿Ha realizado en alguna ocasión espeología o exploración de
                grutas solo o con una persona inexperta? </label>

            </div>
            <div
              class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-3 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
              <app-radio-button [group]="form.get('expeditions').get('cave')" name="grotto_radio" [options]="YesNo"
                (selected)="selectChange($event)"> </app-radio-button>
            </div>
          </div>

          <div class="mt-3 mr-3" *ngIf="this.form.get('expeditions').get('cave').get('grotto')">
            <app-text-area label="En caso afirmativo, por favor, facilite información completa" name='info'
              [group]="form.get('expeditions').get('cave').get('grotto')"></app-text-area>
          </div>

        </div>

        <!-- Fila 6d -->
        <div>

          <div class="mt-20 pt-3 sm:mt-12 sm:pt-3 md:mt-12 md:pt-0 lg:mt-10 lg:pt-0 xl:mt-10 xl:pt-0">
            <div class=" inline">

              <label class="formulary-labels"> 6d. ¿Ha buceado en alguna ocasión durante sus actividades de
                exploración de grutas o espeología? </label>

            </div>
            <div
              class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-3 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
              <app-radio-button [group]="form.get('expeditions').get('cave')" name="dive_radio" [options]="YesNo"
                (selected)="selectChange($event)"> </app-radio-button>
            </div>
          </div>

          <div class="mt-3 mr-3" *ngIf="this.form.get('expeditions').get('cave').get('underwater')">
            <app-text-area label="En caso afirmativo, por favor, facilite información completa" name='info'
              [group]="form.get('expeditions').get('cave').get('underwater')"></app-text-area>
          </div>

        </div>

      </div>

    </div>

    <hr class="ww-divider mt-24 md:mt-12 lg:mt-12 xl:mt-10">

    <!-- Bloque 7 -->
    <div class="mt-10">

      <div>
        <div class="inline">
          <label class="formulary-labels"> 7. ¿Tiene la intención de cambiar la categoría deportiva o tipo de
            escalada en los próximos 2 años? </label>
        </div>

        <div
          class="inline float-right mt-5 -ml-5 -mr-6 sm:mt-4 sm:ml-0 sm:-mr-1 md:mt-3 md:ml-0 md:mr-0 lg:mt-3 lg:ml-0 lg:mr-0 xl:mt-0 xl:ml-0 xl:mr-0">
          <app-radio-button [group]="form.get('category')" name="type_radio" [options]="YesNo"
            (selected)="selectChange($event)"> </app-radio-button>
        </div>

      </div>

      <div class="mt-3 mr-3" *ngIf="this.form.get('category').get('sport')">
        <app-text-area label="En caso afirmativo, por favor, facilite información completa" name='info'
          [group]="form.get('category').get('sport')"></app-text-area>
      </div>

    </div>

    <!-- Declaración -->
    <div class="pt-5 pl-3 pb-5 mt-24 sm:mt-16 ml-1 -mr-2 sm:-mr-0 md:mr-0 lg:mr-0 xl:mr-0 mb-4"
      style="background-color: #E6E7E8;">

      <div class="pl-1 pr-1 sm:pl-2 sm:pr-2 md:pl-8 md:pr-6 lg:pl-8 lg:pr-6 xl:pl-8 pr-6">

        <label style="font-size: 12px;"> Declaro haber contestado verídicamente a estas preguntas y que no he
          ocultado ninguna información que pueda influir en la evaluación o la aceptación de esta solicitud. Estoy
          de acuerdo en que este cuestionario forme parte de mi solicitud de seguro y que el hecho de no revelar
          alguna circunstancia conocida por mí, puede anular el contrato. </label>

      </div>

    </div>

  </div>
  <mat-action-row class="action-row">
    <button mat-button class="next-button" (click)="nextStep()" type="button">
      Cerrar
    </button>
  </mat-action-row>
</mat-expansion-panel>
