<div class="pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white" *ngIf="showContent">
  <div class="uppercase dashboard-page-title pt-12">Formularios</div>
  <div class="mt-6 w-full">
    <!-- <app-filter [status]="statusTypes"></app-filter> -->
    <!-- <app-filter></app-filter> -->
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-10">

  </div>
  <div class="acordeon pb-3" *ngFor="let item of generalForm.get('dynamicForms')['controls']; let i = index">
    <div class="mt-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4">
      <app-select *ngIf="this.idsOptions" label="Formulario" name="idForm"
        (selected)="generateDynamicForm($event, generalForm.get('dynamicForms').get(i.toString()))"
        [group]="generalForm.get('dynamicForms').get(i.toString())" [options]="this.idsOptions">
      </app-select>
    </div>
    <hr *ngIf="generalForm.get('dynamicForms')['controls'].length > 1" class="w-full my-3 ww-divider">
    <app-delete-array-button class="ml-3 my-3" *ngIf="generalForm.get('dynamicForms')['controls'].length > 1"
      [array]="generalForm.get('dynamicForms')" [index]="i"></app-delete-array-button>
  </div>

  <app-add-array-button [array]="generalForm.get('dynamicForms')" [item]="addItem('dynamicForm')">
  </app-add-array-button>

</div>
