<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">WorldWide Seguros</h1>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56" opened="true"
    style="border-bottom-right-radius: 25px; border-top-right-radius: 25px; overflow: hidden; width: 275px;">
    <div class="grid grid-cols-1">
      <mat-nav-list style="padding-top: 0px !important">
        <div class="dashboard-background-color-first  flex justify-center sm:pb-6 md:pb-12 lg:pb-12 xl:pb-12">
          <div class="pr-2 pl-2 sidenav-user-info align-items-center d-flex">
            <div class="flex justify-center pt-2 sm:pt-24 md:pt-24 lg:pt-24 xl:pt-24 pb-3">
              <img [src]="imageSrc" width="225px" alt="Logo de WorldWide Seguros" onload="this.classList.add('fadeIn');">
            </div>
            <div class="text-center text-white pt-6">
              <ul class="list-unstyled m-0">
                <li class="pb-1 font-semibold uppercase"> {{ userName }}</li>
                <li class="text-xs font-thin">{{ userEmail }}</li>
              </ul>
            </div>
          </div>
        </div>
        <mat-list class="dashboard-background-color-gradient pr-3" style="height: 100vh !important">

          <mat-list-item *ngIf="showMatListen(['Datos_polizas', 'Datos_facturas'])" [routerLink]="['consult']"
            routerLinkActive="router-link-active" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;"
              [src]="activeRoute.includes('/dashboard/consult') ? '../../../../../../assets/iconos/user_search_icon_filled.svg' : '../../../../../../assets/iconos/user_search_icon.svg'"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Consulta</div>
          </mat-list-item>

          <mat-list-item *ngIf="showMatListen(['Cotizador_Vida', 'Cotizador_Salud'])" [routerLink]="['quotes']"
            routerLinkActive="router-link-active" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;"
              [src]="!activeRoute.includes('/dashboard/quotes') ? '../../../../../../assets/iconos/library_books-24px.svg' : '../../../../../../assets/iconos/library_books-24px-b.svg'"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Cotizaciones</div>
          </mat-list-item>

          <mat-list-item *ngIf="showMatListen(['Solicitud_suscripcion'])" [routerLink]="['requests']"
            routerLinkActive="router-link-active" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;"
              [src]="!activeRoute.includes('/dashboard/requests') ? '../../../../../../assets/iconos/library_add-24px.svg' : '../../../../../../assets/iconos/library_add-24px-b.svg'"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Nuevo negocio</div>
          </mat-list-item>

          <mat-list-item *ngIf="this.role === 'WWS' && showMatListen(['Solicitud_reembolsos'])"
            [routerLink]="['claims']" routerLinkActive="router-link-active"
            style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;"
              [src]="!activeRoute.includes('/dashboard/claims') ? '../../../../../../assets/iconos/announcement-24px.svg' : '../../../../../../assets/iconos/announcement-24px-b.svg'"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Reembolsos</div>
          </mat-list-item>

          <mat-list-item *ngIf="this.role === 'WWS' && showMatListen(['Solicitud_precertificacion'])"
            [routerLink]="['authorizations']" routerLinkActive="router-link-active"
            style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;"
              [src]="!activeRoute.includes('/dashboard/authorizations') ? '../../../../../../assets/iconos/autorizacion2.svg' : '../../../../../../assets/iconos/autorizacion1.svg'"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">PRE - Autorizaciones</div>
          </mat-list-item>

          <mat-list-item *ngIf="showMatListen(['Solicitud_suscripcion'])" [routerLink]="['policy-administration']"
            routerLinkActive="router-link-active" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;"
              [src]="!activeRoute.includes('/dashboard/policy-administration') ? '../../../../../../assets/iconos/user_search_icon.svg' : '../../../../../../assets/iconos/user_search_icon_filled.svg'"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Administración Pólizas</div>
          </mat-list-item>

          <mat-list-item *ngIf="showMatListen(['administrador'])" [routerLink]="['forms']"
            routerLinkActive="router-link-active" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;"
              [src]="!activeRoute.includes('/dashboard/forms') ? '../../../../../../assets/iconos/formulario.svg' : '../../../../../../assets/iconos/formulario-b.svg'"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Formularios</div>
          </mat-list-item>

          <mat-list-item *ngIf="showMatListen(['Solicitud_suscripcion'])" [routerLink]="['dynamic-pa']"
            routerLinkActive="router-link-active" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;"
              [src]="!activeRoute.includes('/dashboard/dynamic-pa') ? '../../../../../../assets/iconos/formulario.svg' : '../../../../../../assets/iconos/formulario-b.svg'"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Cambio de Plan</div>
          </mat-list-item>

          <mat-list-item (click)="sendEmail();" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;" src="../../../../../../assets/iconos/ayuda-icon.svg" height="24px"
              width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Ayuda</div>
          </mat-list-item>

          <mat-list-item (click)="GetInstrucstivo();" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;" src="../../../../../../assets/iconos/instructivo-icon.svg"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Instructivo </div>
          </mat-list-item>

          <mat-list-item (click)="GetTerminos();" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;" src="../../../../../../assets/iconos/work_outline-24px.svg"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Términos de Uso </div>
          </mat-list-item>


          <!-- <mat-list-item *ngIf="showMatListen(['administrador'])" [routerLink]="['settings']"
            routerLinkActive="router-link-active" style="color: white; max-height: 35px !important;" class="my-3">
            <img style="max-height: 35px !important;"
              [src]="!activeRoute.includes('/dashboard/settings') ? '../../../../../../assets/iconos/settings.svg' : '../../../../../../assets/iconos/settings-b.svg'"
              height="24px" width="24px" class="mr-3 ml-3">
            <div style="max-height: 35px !important;" class="text-xs uppercase">Configuración</div>
          </mat-list-item> -->

          <!-- <mat-list-item style="color: white; max-height: 35px !important; padding-left: 0.75rem" class="mt-10">
            <button class="text-xs uppercase h-full w-full text-left" (click)="logOut()">Salir</button>
          </mat-list-item> -->

        </mat-list>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white !important;">
    <mat-toolbar class="dashboard-toolbar " role="heading">
      <div class="flex grid grid-cols-2 w-full">
        <div class="">
          <button (click)="navigateBack()" mat-mini-fab aria-label="Example icon-button with a heart icon"
            class="dashboard-toolbar-buttons"
            style="background-color: #0179B2 !important; border-radius: 10px !important; margin-top: 40px; margin-left: 9px;">
            <mat-icon style="color: white; font-weight: 600;">arrow_back</mat-icon>
          </button>
        </div>
        <div class="flex justify-end">
          <div *ngIf="userHasMoreThanOneRole() && countryRoles?.length > 1"
            style="color: white; max-height: 35px !important; padding-left: 0.75rem" class="mt-10">
            <mat-form-field color="accent" appearance="outline" class="w-full country-select"
              style="font-size: small !important;">
              <mat-select [(value)]="countryRole.codigoPortal">
                <mat-option (click)="updateCountry(countryRole)" *ngFor="let countryRole of countryRoles" [value]="countryRole.codigoPortal">{{countryRole.codigoPortal.toUpperCase()}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button (click)="logOut()" mat-mini-fab aria-label="Example icon-button with a heart icon"
            class="dashboard-toolbar-buttons"
            style="background-color: #0179B2 !important; border-radius: 10px !important; margin-top: 42px; margin-left: 9px;">
            <mat-icon style="color: white; font-weight: 600;">login</mat-icon>
          </button>
        </div>
        <div class="flex flex-row justify-end flex-wrap w">
          <!-- <button [matMenuTriggerFor]="menu" mat-mini-fab aria-label="Example icon-button with a heart icon"
            class="dashboard-toolbar-buttons" style="margin-right: 0.50rem !important; ">
            <mat-icon style="color: #18446B">notification_important</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="matMenu">
            <h3 class="title-1 pl-3">Notificaciones</h3>

            <div mat-menu-item class="menu-items" *ngFor="let new_ of newNotification; let i = index">
              <p class="title-3 font-hairline" *ngIf="i===0">Nuevas</p>
              <div class="menu-item-text">
                <span class="formulary-labels">{{new_.title}} </span>
                <span class="body-13">{{new_.description}}</span>
                <p class="title-13-blue">{{new_.date}}</p>
              </div>
            </div>

            <div mat-menu-item class="menu-items" *ngFor="let old of oldNotification; let i = index">
              <p class="title-3" *ngIf="i===0">Anteriores</p>
              <div class="menu-item-text">
                <span class="formulary-labels">{{old.title}} </span>
                <span class="body-13">{{old.description}}</span>
                <p class="title-13-blue">{{old.date}}</p>
              </div>
            </div>
            <p>Anteriores</p>
           <div mat-menu-item class="menu-items" *ngFor="let old of oldNotification">
              <span class="">{{old.title}}  </span>
              <span class="">{{old.description}}</span>
              <p class="">{{old.date}}</p>
            </div>
          </mat-menu>

          <button mat-mini-fab aria-label="Example icon-button with a heart icon" class="dashboard-toolbar-buttons">
            <mat-icon style="color: #18446B">settings</mat-icon>
          </button> -->
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
