<form [formGroup]="filterForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="sendFormToParent()" class="p-3 pb-2 mt-5" style="background-color: #F2F2F2">
    <div class="filter-title">Filtro Rápido</div>
    <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-26">
      <div class="mr-3 xl:col-span-4 ">
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
          style="font-size: small !important;">
          <mat-label>Certificado</mat-label>
          <input formControlName="certificado" matInput type="number" (keyup.enter)="sendFormToParent()">
        </mat-form-field>
      </div>

      <div class="grid grid-cols-2 xl:col-span-2 ">
        <button (click)="resetForm()" class="flex justify-center content-center nofocus small-search-button"
          style="color: white;">
          <mat-icon style="padding-top: 7px;">delete</mat-icon>
        </button>
        <button (click)='loader()' type="submit" class="flex justify-center content-center nofocus small-search-button">
          <img src="/assets/iconos/search-icon.svg">
        </button>
      </div>
    </div>
    <!-- <div class="flex flex-row-reverse -mt-3">
      <button mat-mini-fab color="accent" aria-label="Buscar" (click)="resetForm()" >
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-mini-fab color="primary" aria-label="Buscar" type="submit" style="margin-right: 5px;">
        <mat-icon>search</mat-icon>
      </button>
    </div> -->
  </form>
