.policy-table{
  .mat-header-cell{
    color: #18446B;
  }

  #policyIdCell{
    color: #007DB7;
    font-weight: bold;
  }

  .mat-form-field-infix{
    border-color: #0e6aff;
    border-style: solid;
    border-width: 3px;
  }
}

.txt-red {
  color: red;
}
