<div class="uppercase dashboard-page-title pb-4">cuestionario cardiovascular</div>

<div class="p-3 pb-0 mb-4" style="background-color: #F2F2F2">
  <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5">
    <div class="mr-3">
      <app-input [group]="form" label="Nombre Completo" name='nombre' placeholder="Alberto Matias">
      </app-input>
    </div>
    <div class="mr-3">
      <app-input [group]="form" label="Edad" name='edad' placeholder="34" type="number">
      </app-input>
    </div>
    <div class="mr-3">
      <app-input [group]="form" label="Nombre del Médico Tratante" name='nombreMedico' placeholder="Santiago Alberto">
      </app-input>
    </div>
    <div class="mr-3">
      <app-input [group]="form" label="Centro de Salud donde trabaja" name='centroSalud'
        placeholder="Hospital Ney Arias Lora">
      </app-input>
    </div>
    <div class="mr-3">
      <app-input [group]="form" label="Teléfono del Centro" name='telefonoCentro' placeholder="8207776677">
      </app-input>
    </div>
  </div>
</div>

<app-forms-container [titles]="accordionTitle">
  <ng-template #formTemplate>
    <div class="px-6">
      <div class="body-13" style="color: black !important;">Ha tenido usted:</div>
      <hr class="w-full my-6 ww-divider">
      <div *ngFor="let question of questions">
        <div
          class="w-full xl:flex xl:justify-between lg:flex lg:justify-between md:flex md:justify-between sm:flex sm:justify-between">
          <div class="radio-button-label" style="font-size: 12px !important;">{{question.label}}</div>
          <app-radio-button [group]="form" [name]="question.name" [options]="yesOrNo" (selected)="selectChange($event)">
          </app-radio-button>
        </div>
        <app-diseases-info *ngIf="form.value[question.name] === 'si'" [form]="form" [group]="question.group">
        </app-diseases-info>
        <hr class="w-full mb-6 ww-divider">
      </div>
      <div class="radio-button-label" style="font-size: 12px !important;">¿Cuáles estudios se ha realizado y cuáles han
        sido sus resultados?</div>

    </div>
  </ng-template>
</app-forms-container>
