<div class="uppercase dashboard-page-title pb-4">Solicitud de reclamación</div>
<div>
  <form [formGroup]="claimForm">
    <app-forms-container [titles]="accordionTitles">
      <ng-template #formTemplate>
        <div formGroupName="reclamacion"
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-5">
          <div class="mr-3">
            <app-input [group]="claimForm.get('reclamacion')" label="Diagnóstico" name='diagnostico'
              placeholder="Dolor de cabeza"></app-input>
          </div>
          <div class="mr-3 mb-3 sm:mb-3 md:mb-0 lg:mb-0 xl:mb-0">
            <app-radio-button [options]="tipoServicio" name="tipoServicio" [group]="claimForm.get('reclamacion')">
            </app-radio-button>
          </div>
          <div class="mr-3">
            <app-number-input [group]="claimForm.get('reclamacion')" label="Autorización No." name='autorizadoNo'
              placeholder="123456"></app-number-input>
          </div>
          <div class="mr-3">
            <app-input [group]="claimForm.get('reclamacion')" label="Autorizado por" name='autorizadoPor'
              placeholder="Dr. XXXX XXXXX"></app-input>
          </div>
          <div>
            <app-date-picker [group]="claimForm.get('reclamacion')" label="Fecha" name="fechaDiagnostico">
            </app-date-picker>
          </div>
        </div>
      </ng-template>
      <ng-template #formTemplate>
        <div formGroupName="asegurado"
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
          <div class="mr-3">
            <app-number-input [group]="claimForm.get('asegurado')" label="No. Póliza" name='numeroPoliza'
              placeholder="12345678"></app-number-input>
          </div>
          <div class="mr-3">
            <app-number-input [group]="claimForm.get('asegurado')" label="ID No." name='idNumero'
              placeholder="12345678"></app-number-input>
          </div>
          <div class="mr-3">
            <app-input [group]="claimForm.get('asegurado')" label="Cédula/Pasaporte" name='documentoIdentidad'
              placeholder="40234190011">
            </app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="claimForm.get('asegurado')" label="Nombre del Asegurado" name='nombre'
              placeholder="Ramon Capalla"></app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="claimForm.get('asegurado')" label="Número del Contacto" name='numero'
              placeholder="8096546191"></app-input>
          </div>
          <div class="mr-3">
            <app-number-input [group]="claimForm.get('asegurado')" label="Edad" name='edad' placeholder="26">
            </app-number-input>
          </div>
          <div class="mr-3 mb-3 sm:mb-3 md:mb-0 lg:mb-0 xl:mb-0">
            <app-radio-button name="tipo" [group]="claimForm.get('asegurado')" [options]="tipoAsegurado">
            </app-radio-button>
          </div>
        </div>
      </ng-template>
      <ng-template #formTemplate>
        <div formGroupName="proveedor"
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
          <div class="mr-3">
            <app-input [group]="claimForm.get('proveedor')" label="Nombre" name='nombre' placeholder="ARS Seguros">
            </app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="claimForm.get('proveedor')" label="Correo" name='correo'
              placeholder="ars.info@seguros.com.do"></app-input>
          </div>
          <div class="mr-3">
            <app-input [group]="claimForm.get('proveedor')" label="Código" name='codigo' placeholder="0012990">
            </app-input>
          </div>
          <div class="mr-3">
            <app-number-input [group]="claimForm.get('proveedor')" label="No. de Contrato" name='noContrato'
              placeholder="900001092092"></app-number-input>
          </div>
        </div>
      </ng-template>
      <ng-template #formTemplate>
        <div formArrayName="reclamados">
          <div *ngFor="let reclaimed of reclaimedList.controls; let i = index">
            <div [formGroupName]="i"
              class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5">
              <div class="mr-3">
                <app-input [group]="claimForm.get('reclamados').get(i.toString()) " label="Código CPT" name='codigoCpt'
                  placeholder="27S920"></app-input>
              </div>
              <div class="mr-3">
                <app-input [group]="claimForm.get('reclamados').get(i.toString())" label="Procedimiento"
                  name='procedimiento' placeholder="..."></app-input>
              </div>
              <div class="mr-3">
                <app-number-input [group]="claimForm.get('reclamados').get(i.toString())" label="Monto Reclamado"
                  name='montoReclamado' placeholder="20,000$ USD"></app-number-input>
              </div>
              <div class="mr-3">
                <app-number-input [group]="claimForm.get('reclamados').get(i.toString())" label="Monto Autorizado"
                  name='montoAutorizado' placeholder="14,400$ USD"></app-number-input>
              </div>
              <div class="grid"
                [ngClass]="{'grid-cols-1': reclaimedList.length === 1, 'grid-cols-2': reclaimedList.length > 1}">
                <div class="mr-3">
                  <app-number-input [group]="claimForm.get('reclamados').get(i.toString())" label="Monto Deducible"
                    name='montoDeducible' placeholder="1,200 $ USD"></app-number-input>
                </div>
                <div *ngIf="reclaimedList.length > 1">
                  <button mat-mini-fab aria-label="Eliminar reclamacion" (click)="removeReclaimed(i)" type="button"
                    class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                    <mat-icon style="color: #18446B">remove</mat-icon>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div>
          <button mat-mini-fab aria-label="Agregar reclamacion" (click)="addReclaimed()" type="button"
            class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
            <mat-icon style="color: #18446B">add</mat-icon>
          </button>
        </div>
      </ng-template>
      <ng-template #formTemplate>
        <div formGroupName="casoHospitalizacion"
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5">
          <div class="mr-0 md:mr-3 lg:mr-3 xl:mr-3">
            <app-date-picker label="Fecha de Ingreso" name="ingreso" [group]="claimForm.get('casoHospitalizacion')">
            </app-date-picker>
          </div>
          <div>
            <app-date-picker label="Fecha de Egreso" name="egreso" [group]="claimForm.get('casoHospitalizacion')">
            </app-date-picker>
          </div>
        </div>
      </ng-template>
      <ng-template #formTemplate>
        <div formGroupName="observaciones"
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1">
          <app-text-area label="Texto" name="observacion" [group]="claimForm.get('observaciones')"></app-text-area>
        </div>
      </ng-template>
      <ng-template #formTemplate>
        <div class="declaraciones my-4 px-4 sm:px-4 md:px-14 lg:px-12 xl:px-12">
          CERTIFICO Y DOY FE que los datos suministrados y contenidos en el presente formulario son verdaderos,
          correctos
          y actualizados. Declaro bajo la fe del juramento que no he omitido ninguna información requerida en este
          formulario, explícita o implícitamente, y que en caso de declaración o representación falsa, fraude u omisión,
          WORLDWIDE se reserva el derecho de declinar la cobertura reclamada, sin menoscabo de cualesquiera otros
          remedios
          aplicables de acuerdos a los términos y condiciones del plan contratado por el Asegurado.
          <div class="pt-4"></div>
          Con la firma del presente documento, nos comprometemos a la entrega de toda información, documentación y
          registros, incluyendo pero no limitado a notas médicas relacionadas a consejos, cuidados, tratamientos
          proporcionados, copia fotostática de expedientes completos, relacionados en cualquier forma con el reclamo
          presentado.
          <div class="pt-4"></div>
          <strong>SERVICIO AL CLIENTE:</strong>
          <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">
            <div class="mr-3">
              <strong> Santo Domingo:</strong> Av. Abraham Lincoln #295, Edificio Caribálico, 5to piso, Rep. Dom. Tel.:
              809-508-7447
            </div>
            <div class="mr-3">
              <strong>Santiago:</strong> C / Eusebio Manzueta #9, Los Jardines. Tel.: 809-581-0111
            </div>
          </div>
        </div>
      </ng-template>
    </app-forms-container>
    <div class="mt-12">
      <button mat-button class="send-button" (click)="sendClaim()" type="submit">Enviar</button>
    </div>
  </form>
</div>
