<div class="pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white" style="height: 90vh;">
  <div class="uppercase dashboard-page-title pt-20"> solicitudes</div>
  <div class="mt-6 w-full">
    <div class="p-3 pb-0" style="background-color: #F2F2F2">
      <div class="filter-title">Filtro tipo de solicitud</div>
      <div class="mt-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <div class="mr-3">
          <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
            <mat-label>Tipo de Solicitud</mat-label>
            <mat-select (selectionChange)="selectChange($event.value)">
              <mat-option value="vida">Solicitud de Seguro de Vida</mat-option>
              <mat-option value="disability">Solicitud de Suscripción Disability</mat-option>
              <mat-option value="gastos mayores">Suscripción Seguro Gastos Médicos Mayores</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-6 pb-8 w-full ">
    <router-outlet></router-outlet>
  </div>
</div>
