.info-home{
    background-color: #F2F2F2;
    mat-form-field{
        width: 300px;
    }
    .w-h{
        width: 150px;
    }
}
.divider{
    margin-top: 15px  !important;
    margin-bottom: 30px !important;
}
.colorb{
    background-color: #E6E7E8;
    padding: 15px;
    margin: 15px;
}
.b-40{
   margin-bottom:  41px;
}
.w-50{
    width: 65%;
}
.question{
    width: 100%;
    max-width: 85%;
    // background-color: blue;
}

