.info-home{
    background-color: #F2F2F2;
    mat-form-field{
        width: 300px;
    }
    .w-h{
        width: 150px;
    }
}
.divider{
    margin-top: 15px  !important;
    margin-bottom: 30px !important;
}