.overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(238, 238, 238, 0.9) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
