<div class="p-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
  <form [formGroup]='administrationPolicyGroup'>
    <h3 class="uppercase dashboard-page-title pt-8 pb-4">Administración de Pólizas</h3>

    <div class="p-3 pb-2 mb-4" style="background-color: #F2F2F2">
      <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5">
        <div class="mr-3" *ngIf="this.administrationPolicyGroup.get('filterType').value == 'POLIZA' ">
          <form [formGroup]="administrationPolicyGroup">
            <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
              style="font-size: small !important;">
              <mat-label>Póliza</mat-label>
              <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
                placeholder="SWWVT-00000">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="administrationPolicyGroup.get('idNumber').touched && !administrationPolicyGroup.get('idNumber').valid">
                Este campo es obligatorio
              </mat-error>
            </mat-form-field>
          </form>
        </div>
        <div *ngIf="idNumber2FieldVisible" class="mr-3">
          <app-select name="idNumber2" [options]="idNumber2Field" [group]="administrationPolicyGroup"></app-select>
        </div>
        <div
          *ngIf="this.administrationPolicyGroup.get('filterType').value == 'NOMBRE' || this.administrationPolicyGroup.get('filterType').value == 'ID' || this.administrationPolicyGroup.get('filterType').value == 'POLIZA' ">
          <button style="margin-left: 15px;" (click)="searchIdNumber(administrationPolicyGroup.value.idNumber)"
            type="submit" class="nofocus flex justify-center small-search-button">
            <img src="/assets/iconos/search-icon.svg">
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="showContent" class="mt-12">

      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
        <div class="mr-3 md:col-span-2">
          <app-input name="personName" label="Nombre del Asegurado" [group]="administrationPolicyGroup"></app-input>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-5 xl:grid-cols-5">
        <div class="mr-3 md:col-span-2">
          <app-select name="tipoSolicitud" [options]="changeType" (selected)="selectChangeType($event)"
            [group]="administrationPolicyGroup">
          </app-select>
        </div>
      </div>
      <div *ngIf="administrationPolicyGroup.value.tipoSolicitud !== ''"
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-5 xl:grid-cols-5">
        <div class="mr-3 md:col-span-2">
          <app-select name="productoTo" [options]="available" [group]="administrationPolicyGroup">
          </app-select>
        </div>
      </div>
    </div>
  </form>
  <form #form="ngForm">
    <div *ngIf="showContent" class="mt-8">
      <button mat-button class="send-button" style="margin-right: 7.5px !important; margin-top: 10px;"
        (click)="newQuote(administrationPolicyGroup.value.idNumber, administrationPolicyGroup.value.tipoSolicitud === 'CAMBIO DE PRODUCTO', administrationPolicyGroup.value.productoTo)"
        type="submit">Cotizar</button>
    </div>
  </form>
</div>
