<div class="mt-6 pb-8 w-full">
  <div class="table-responsive" style="overflow-y: hidden; overflow-x: auto; max-width: 100%;">
    <table mat-table [dataSource]="dataSource" matSort class="w-full dashboard-basic-table">
      <ng-container matColumnDef="no" style="margin-right: 15px !important">
        <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> No. Póliza</th>
        <td class="padding-cell" mat-cell *matCellDef="let element"
          style="color: #007DB7 !important; font-weight: 500 !important;"> {{element.asegurado.numeroPoliza}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre" style="margin-right: 15px !important">
        <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Asegurado</th>
        <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.asegurado.nombre}} </td>
      </ng-container>
      <!-- 
      <ng-container matColumnDef="tipoSeguro" style="margin-right: 15px !important">
        <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Seguro </th>
        <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.asegurado.Tipo}} </td>
      </ng-container> -->

      <ng-container matColumnDef="tipoServicio" style="margin-right: 15px !important">
        <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Servicio </th>
        <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.reclamacion.tipoServicio | titlecase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="autorizadoPor" style="margin-right: 15px !important">
        <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Autorizado por: </th>
        <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.reclamacion.autorizadoPor}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaDiagnostico" style="margin-right: 15px !important">
        <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Diag. </th>
        <td class="padding-cell" mat-cell *matCellDef="let element">
          {{element.reclamacion.fechaDiagnostico |  date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="estatus" style="margin-right: 15px !important">
        <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
        <td class="padding-cell" mat-cell *matCellDef="let element"
          [ngClass]="{'text-color-yellow': element.estatus === 'Enviado', 'text-color-red': element.estatus === 'Cancelado'}">
          {{element.status | tableStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones" style="text-align: end !important; margin-right: 15px !important; ">
        <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 110px !important;">
          Acciones </th>
        <td class="padding-cell" mat-cell *matCellDef="let element" style="max-width: 110px !important;">
          <!-- <button mat-mini-fab aria-label="Ver mas" class="dashboard-table-buttons">
            <img src="../../../../assets/iconos/eye.svg">
          </button> -->
          <button (click)="this.claim.getID(element.id)" mat-mini-fab aria-label="Editar"
            class="dashboard-table-buttons">
            <img src="../../../../assets/iconos/edit.svg">
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator color="accent" class="dashboard-table-paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
