<div>
  <div class="text-blue-800 font-bold text-2xl px-5 mt-3" >Consulta</div>
  <app-consult-header (activeTab)="setActiveTab($event); policyTable.sortTableByPendingPayments()" [_pendingPolicies]="pendingPolicies"></app-consult-header>
  <div class="tabs-content px-4 mt-3 sm:mt-10">
    <mat-tab-group mat-stretch-tabs [(selectedIndex)]="activeTab">

      <mat-tab label="Pólizas">
        <app-policy-filter (filters)="setPolicyFilters($event)" ></app-policy-filter>
        <app-policy-table [filters]="policyFilters" #policyTable></app-policy-table>
      </mat-tab>

      <mat-tab label="Facturas Pendientes">
        <app-bills-filter (filters)="setBillsFilters($event)"></app-bills-filter>
        <app-bills-table [filters]="billsFilter" (pendingBillsEmitter)="setPendingPolicies($event)"  #billTable></app-bills-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

