<div class="pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
  <div class="uppercase dashboard-page-title pt-12">Cotizaciones</div>
  <div class="mt-6 w-full">
    <app-filter (childEvent)="getQuotes($event)" [fills]="fills"></app-filter>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-10">
    <div class="dashboard-page-subtitle flex
    justify-center sm:justify-center md:justify-start
     lg:justify-start
     xl:justify-start
    ">Lista de Cotizaciones</div>
    <div class="flex
    justify-center sm:justify-center md:justify-end lg:justify-end xl:justify-end
    mt-3 sm:mt-3 md:mt-0 lg:mt-0 xl:mt-0
    ">
      <mat-bar-button [options]="newQuoteButtonOptions" (btnClick)="newQuote()"></mat-bar-button>
    </div>
  </div>
  <div class="mt-6 pb-8 w-full ">
    <div class="table-responsive" style="overflow-y: hidden; overflow-x: auto; max-width: 100%;">
      <table mat-table matSort [dataSource]="dataSource" class="w-full dashboard-basic-table">
        <!-- Position Column -->
        <ng-container matColumnDef="noCotizacion" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> No. Cotización</th>
          <td class="padding-cell" mat-cell *matCellDef="let element"
            style="color: #007DB7 !important; font-weight: 500 !important;"> {{element.noCotizacion}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="edad" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.edad}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoSeguro" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de seguro </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.tipoSeguro | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="plan" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Plan </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.plan}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.fecha |  date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="monto" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
          <td class="padding-cell" mat-cell *matCellDef="let element"> {{element.monto | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="estatus" style="margin-right: 15px !important">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
          <td class="padding-cell text-color-green" mat-cell *matCellDef="let element"
            [ngClass]="{'text-color-yellow': element.estatus==='Por Enviar'}"> Activa </td>
        </ng-container>

        <ng-container matColumnDef="acciones" style="text-align: end !important; margin-right: 15px !important; ">
          <th class="padding-cell" mat-header-cell *matHeaderCellDef style="max-width: 110px !important;"> Acciones
          </th>
          <td class="padding-cell" mat-cell *matCellDef="let element" style="max-width: 110px !important;">
            <!--  <button mat-mini-fab aria-label="Ver mas" class="dashboard-table-buttons">
              <img src="../../../../assets/iconos/eye.svg">
            </button> -->
            <button mat-mini-fab aria-label="Enviar" *ngIf="element.tipoSeguro == 'vida'"
              class="dashboard-table-buttons" (click)="navigateToLife(element.noCotizacion)">
              <img src="../../../../assets/iconos/check.svg">
            </button>
            <button mat-mini-fab aria-label="Enviar" *ngIf="element.tipoSeguro == 'salud'"
              (click)="navigateToSalud(element.noCotizacion)" class="dashboard-table-buttons">
              <img src="../../../../assets/iconos/check.svg">
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator color="accent" class="dashboard-table-paginator" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>
