<div class="pl-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
  <h3 class="uppercase dashboard-page-title pt-20">solicitud - Suscripción</h3>
  <div class="mt-6 p-3 pb-0 info-home">
    <div class="filter-title">Info. Inicio</div>
    <div class="mt-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">
      <div class="mr-3">
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
          style="font-size: small !important;">
          <mat-label>No. Cotización</mat-label>
          <input matInput class="" placeholder="Jorge Segura">
        </mat-form-field>
      </div>
      
        <app-select [options]="options" [group] = "newRequest"></app-select>
     
    </div>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab label="Asegurado" class="mat-tab-forms">
        <app-forms-container [titles]="titles" [Form]="newRequest">
          <ng-template #formTemplate>
            <form [formGroup]="newRequest">
              <div class="mt-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">

                <div class="mr-3">
                  <mat-form-field  appearance="outline" class="w-full bg-transparente"
                    style="font-size: small !important;">
                    <mat-label>Nombres</mat-label>
                    <input formControlName="name" matInput class="" placeholder="Jorge Segura">
                  </mat-form-field>
                </div>

                <div class="mr-3">
                  <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                    style="font-size: small !important;">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="lastName" class="" placeholder="Jorge Segura">
                  </mat-form-field>
                </div>
                <div class="mr-3">
                  <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                    style="font-size: small !important;">
                    <mat-label>Cédula/Pasaporte</mat-label>
                    <input matInput formControlName="id" class="" placeholder="Jorge Segura">
                  </mat-form-field>
                </div>
                <div class="radio-container mr-3">
                  <mat-label class="radio-button-label">Sexo</mat-label><br>
                  <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="sex"  class="radio-group">
                    <mat-radio-button value="Femenino" class="mr-3 radio-button" >Femenino</mat-radio-button>
                    <mat-radio-button value="Masculino" class="radio-button">Masculino</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="mr-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
                  <div class="mr-3">
                    <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente mr-3"
                      style="font-size: small !important;">
                      <mat-label>Peso / lbs</mat-label>
                      <input matInput formControlName="weight" class="mr-3" placeholder="Jorge Segura">
                    </mat-form-field>
                  </div>
                 
                  <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente "
                    style="font-size: small !important;">
                    <mat-label>Estatura/Pies</mat-label>
                    <input matInput formControlName="height"  placeholder="Jorge Segura">
                  </mat-form-field>
                </div>

                <div class="mr-3">
                  <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                    style="font-size: small !important;">
                    <mat-label>Empresa donde labora</mat-label>
                    <input formControlName="company" matInput class="" placeholder="Jorge Segura">
                  </mat-form-field>
                </div>

                <div class="mr-3">
                  <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                    style="font-size: small !important;">
                    <mat-label>Ocupación</mat-label>
                    <input matInput formControlName="position" class="" placeholder="Jorge Segura">
                  </mat-form-field>
                </div>
                <div class="mr-3">
                  <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                    style="font-size: small !important;">
                    <mat-label>Dirección de Residencia</mat-label>
                    <input matInput formControlName="direction" class="" placeholder="Jorge Segura">
                  </mat-form-field>
                </div>
                <div class="mr-3">
                  <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                    style="font-size: small !important;">
                    <mat-label>Ciudad y País</mat-label>
                    <input formControlName="city" matInput class="" placeholder="Jorge Segura">
                  </mat-form-field>
                </div>

                <div class="mr-3">
                  <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                    style="font-size: small !important;">
                    <mat-label>No. Dependientes</mat-label>
                    <input matInput formControlName="dependentsNumber" (keyup)="onChangeDependents()" appDigitOnly min="0" max="2"
                      class="" placeholder="Jorge Segura">
                  </mat-form-field>
                </div>
              </div>

              <div
                *ngIf="newRequest.get('dependentsNumber').value !== '0' && newRequest.get('dependentsNumber').value !== ''"
                class="mt-3 grid">
                <div class="col-span-1">Dependientes</div>
                <mat-divider class="col-span-11"></mat-divider>
              </div>

              <div formArrayName="dependents">
                <div *ngFor="let element of dependentsFormArray.controls; let index = index">
                  <div [formGroupName]="index"
                  *ngIf="newRequest.get('dependentsNumber').value !== '0' && newRequest.get('dependentsNumber').value !== ''"
                    class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-5">
                    <div class="mr-3">
                      <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                        style="font-size: small !important;">
                        <mat-label>Nombres</mat-label>
                        <input formControlName="name" matInput class="" placeholder="Jorge Segura">
                      </mat-form-field>
                    </div>

                    <div class="mr-3">
                      <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                        style="font-size: small !important;">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="lastName" class="" placeholder="Jorge Segura">
                      </mat-form-field>
                    </div>
                    <div class="mr-3 radio-container">
                      <mat-label>Parentezco</mat-label><br>
                      <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="family"  class="radio-group">
                        <mat-radio-button value="Conyuge" class="mr-3">Cónyuge</mat-radio-button>
                        <mat-radio-button value="Hijo">Hijo</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="mr-3">
                      <mat-form-field color="accent" appearance="outline" class="w-full" style="font-size: small !important;">
                        <mat-label>Fecha de ingreso</mat-label>
                        <input formControlName="birtday" matInput [matDatepicker]="picker" placeholder="01/03/2020">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="mr-3 radio-container">
                      <mat-label  class="radio-button-label" id="sex">Sexo</mat-label><br>
                      <mat-radio-group aria-labelledby="sex" formControlName="sex"  class="radio-group">
                        <mat-radio-button  value="Femenino" class="mr-3 radio-button">Femenino</mat-radio-button>
                        <mat-radio-button class="radio-button" value="Masculino">Masculino</mat-radio-button>
                      </mat-radio-group>
                    </div>

                    <div class="mr-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
                      
                      <div class="mr-3">
                        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente mr-3"
                          style="font-size: small !important;">
                          <mat-label>Peso / lbs</mat-label>
                          <input matInput formControlName="weight" class="" placeholder="Jorge Segura">
                        </mat-form-field>
                      </div>

                      <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                        style="font-size: small !important;">
                        <mat-label>Estatura/Pies</mat-label>
                        <input matInput formControlName="height" class="" placeholder="Jorge Segura">
                      </mat-form-field>
                      
                    </div>
                    <div class="mr-3 radio-container">
                      <mat-label class="mat-radio-button-label">¿Estudiante de tiempo completo?</mat-label><br>
                      <mat-radio-group #student aria-labelledby="example-radio-group-label" formControlName="sex"  class="radio-group">
                        <mat-radio-button [value]="true" class="mr-3 radio-button">Si</mat-radio-button>
                        <mat-radio-button [value]="false" class="radio-button">No</mat-radio-button>
                      </mat-radio-group>
                    </div>

                    <div class="mr-3" *ngIf="student.value">
                      <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                        style="font-size: small !important;">
                        <mat-label>Universidad</mat-label>
                        <input matInput formControlName="univercity" class="" placeholder="Jorge Segura">
                      </mat-form-field>
                    </div>

                    <div class="mr-3">
                      <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                        style="font-size: small !important;">
                        <mat-label>No. Teléfono Universidad</mat-label>
                        <input matInput formControlName="telUnivercity" class="" placeholder="Jorge Segura">
                      </mat-form-field>
                    </div>
                    <div class="mr-3">
                      <button mat-mini-fab  (click)="delete(index)">-</button>
                    </div>
                  </div>
                  <mat-divider
                    *ngIf="newRequest.get('dependentsNumber').value !== '0' && newRequest.get('dependentsNumber').value !== ''">
                  </mat-divider>
                </div>
              </div>
            </form>
          </ng-template>
          <ng-template #formTemplate>hola 1</ng-template>
          <ng-template #formTemplate>hola 2</ng-template>
          <ng-template #formTemplate>hola 3</ng-template>
        </app-forms-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
