<mat-form-field *ngIf="group" color="accent" appearance="outline" class="w-full bg-transparente"
  style="font-size: small !important;" [formGroup]="group">
  <mat-label>{{label}}</mat-label>
  <input (blur)="trimMethod()" *ngIf="!preventSpace" [formControlName]="name" matInput [type]="type" [min]="min" [max]="max"
    [placeholder]="placeholder" #input (input)="goCap()" (keypress)="omitSpecialChar($event)">
  <input (blur)="trimMethod()" *ngIf="preventSpace" [formControlName]="name" matInput (input)="goCap()" [type]="type" [min]="min" [max]="max"
    [placeholder]="placeholder" #input (keydown.space)="$event.preventDefault()" (keypress)="omitSpecialChar($event)">
  <mat-error *ngIf="group.get(name).touched && !group.get(name).valid && !group.get(name).errors?.email">Este campo es
    obligatorio
  </mat-error>
  <mat-error *ngIf="group.get(name).errors?.email"> El formato de correo no es correcto .</mat-error>
</mat-form-field>
<div *ngIf="!group" class="text-color-red">No tiene group. [Debuggin]</div>
