<div class="uppercase dashboard-page-title pb-4">Solicitud de reembolso del asegurado
</div> <!-- *ngIf="timeAutoComplete == 1" -->

<div class="p-3 pb-2 mb-4" style="background-color: #F2F2F2">
  <!-- *ngIf="timeAutoComplete == 1" -->
  <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5">
    <app-date-picker class="mr-3" [group]="refundForm" name="fecha" label="Fecha"></app-date-picker>
    <!-- <div *ngIf="timeAutoComplete == 0" class="mr-3 col-span-2">
      <app-input [group]="refundForm.get('informacion')" label="ID Number" name='idNumber' placeholder="Juan Juan - 00010002">
      </app-input>
    </div> -->
    <div class="mr-3">
      <app-select name="filterType" [options]="filterOptions" [group]="refundForm.get('informacion')"></app-select>
    </div>
    <div *ngIf="this.refundForm.get('informacion').get('filterType').value == 'NOMBRE' ">
      <form [formGroup]="refundForm.get('informacion')">
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
          style="font-size: small !important;">
          <mat-label>Nombre</mat-label>
          <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
            placeholder="Juan Juan">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="refundForm.get('informacion').get('idNumber').touched && !refundForm.get('informacion').get('idNumber').valid">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div *ngIf="this.refundForm.get('informacion').get('filterType').value == 'ID' ">
      <form [formGroup]="refundForm.get('informacion')">
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
          style="font-size: small !important;">
          <mat-label>ID Number</mat-label>
          <input formControlName="idNumber" matInput class="" type="number" [matAutocomplete]="auto"
            placeholder="00010002">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="refundForm.get('informacion').get('idNumber').touched && !refundForm.get('informacion').get('idNumber').valid">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div *ngIf="this.refundForm.get('informacion').get('filterType').value == 'POLIZA' ">
      <form [formGroup]="refundForm.get('informacion')">
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
          style="font-size: small !important;">
          <mat-label>Póliza</mat-label>
          <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
            placeholder="SWWVT-00000">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="refundForm.get('informacion').get('idNumber').touched && !refundForm.get('informacion').get('idNumber').valid">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <!-- <div *ngIf="timeAutoComplete == 1" class="mr-3 col-span-2">
      <form [formGroup]="refundForm.get('informacion')">
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
          style="font-size: small !important;">
          <mat-label>ID Number</mat-label>
          <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
            placeholder="Juan Juan - 00010002">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="refundForm.get('informacion').get('idNumber').touched && !refundForm.get('informacion').get('idNumber').valid">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </form>
    </div> -->
    <div
      *ngIf="this.refundForm.get('informacion').get('filterType').value == 'NOMBRE' || this.refundForm.get('informacion').get('filterType').value == 'ID' || this.refundForm.get('informacion').get('filterType').value == 'POLIZA' ">
      <button style="margin-left: 15px;" *ngIf="ID === null || ID === undefined"
        (click)="searchIdNumber(refundForm.get('informacion').value.idNumber)" type="submit"
        class="nofocus flex justify-center small-search-button">
        <img src="/assets/iconos/search-icon.svg">
      </button>
    </div>
  </div>
</div>
<!-- <div *ngIf="timeAutoComplete == 1"> -->
<div *ngIf="showContent" class="p-3 pb-0 mb-4" style="background-color: #F2F2F2">
  <div class="filter-title" style="color: #18446B !important">Asegurado</div>
  <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5">

  </div>
</div>
<!-- </div> -->

<div>
  <!-- *ngIf="timeAutoComplete == 1" -->
  <mat-accordion *ngIf="showContent" #matAccordion="matAccordion" name="matAccordion"
    class="ww-mat-accordion example-headers-align" [togglePosition]="'before'">
    <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header class="body-13 icon-blue">
        <mat-panel-title>
          Información del Asegurado / Paciente
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <div *ngIf="showWarningDot(refundForm.get('informacion'))" class="warning-accordion-dot"></div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <div class="mr-3">
          <app-radio-button class="mr-3 " [group]="refundForm" name="tipoReclamo" [options]="tipoReclamo">
          </app-radio-button>
        </div>
        <!--    <div class="mr-3" *ngIf="refundForm.get('tipoReclamo') && refundForm.get('tipoReclamo').value === 'Local'">
          <app-radio-button class="mr-3 " [group]="refundForm" name="tipoReclamoMoneda" [options]="tipoReclamoLocal">
          </app-radio-button>

        </div>
        <div class="mr-3"  *ngIf="refundForm.get('tipoReclamo') && refundForm.get('tipoReclamo').value === 'Internacional'">
          <app-radio-button class="mr-3 " [group]="refundForm" name="tipoReclamoMoneda" [options]="tipoReclamoInternacional">
          </app-radio-button>

        </div> -->
        <div class="mr-3">
          <app-input [group]="refundForm.get('informacion')" label="No. Póliza" name='noPoliza' placeholder="246810">
          </app-input>
        </div>
        <div class="mr-3">
          <app-input [group]="refundForm.get('informacion')" label="Nombre del Asegurado / Paciente" name='nombre'
            placeholder="Alberto Matias">
          </app-input>
        </div>
        <div class="mr-3">
          <app-input [group]="refundForm.get('informacion')" label="Dirección" name='direccion'
            placeholder="Santo Domingo Norte">
          </app-input>
        </div>
        <div class="mr-3">
          <app-number-input [group]="refundForm.get('informacion')" label="No. de Telefono" isPhone="true"
            name='telefono' placeholder="8096546191">
          </app-number-input>
        </div>
        <app-input class="mr-3" [group]="refundForm.get('informacion')" label="Correo Electrónico" name='correo'
          placeholder="correo@email.com" type="email">
        </app-input>
      </div>
      <mat-action-row class="action-row">
        <button mat-button class="next-button" (click)="nextStep()" type="button">
          Siguiente
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header class="body-13 icon-blue">
        <mat-panel-title>
          Diagnóstico o Naturaleza de condición Médica / Accidente
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <div *ngIf="showWarningDot(refundForm.get('diagnosticos'))" class="warning-accordion-dot"></div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngFor="let reclaimed of diagnosticList.controls; let i = index">
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
          <div class="mr-3">
            <app-date-picker [max]="todayDate" [group]="refundForm.get('diagnosticos').get(i.toString())" name="fecha"
              label="Fecha del Servicio">
            </app-date-picker>
          </div>
          <div class="mr-3">
            <app-input [group]="refundForm.get('diagnosticos').get(i.toString())" name="lugar"
              label="Lugar del Servicio">
            </app-input>
          </div>
          <!-- <div class="mr-3 extern-description">
            Descripción completa de los procedimientos o asistencia médica suministrados en cada fecha indicada
          </div> -->
          <div class="mr-3">
            <app-input [group]="refundForm.get('diagnosticos').get(i.toString())" name="diagnostico"
              label="Diagnóstico">
            </app-input>
          </div>
          <div class="mr-3">
            <app-text-area [group]="refundForm.get('diagnosticos').get(i.toString())" name="descripcion"
              label="Descripción del procedimiento">
            </app-text-area>
          </div>
          <div class="mr-3 md:col-span-2">
            <app-select name="proveedor" [options]="proveedoresField"
              [group]="refundForm.get('diagnosticos').get(i.toString())">
            </app-select>
          </div>
          <div class="mr-3" *ngIf="refundForm.get('tipoReclamo') && refundForm.get('tipoReclamo').value === 'LOCAL'">
            <app-radio-button class="mr-3 " [group]="refundForm.get('diagnosticos').get(i.toString())"
              name="tipoReclamoMoneda" [options]="tipoReclamoLocal">
            </app-radio-button>
          </div>
          <div class="mr-3"
            *ngIf="refundForm.get('tipoReclamo') && refundForm.get('tipoReclamo').value === 'INTERNACIONAL'">
            <app-radio-button class="mr-3 " [group]="refundForm.get('diagnosticos').get(i.toString())"
              name="tipoReclamoMoneda" [options]="tipoReclamoInternacional">
            </app-radio-button>
          </div>
          <div class="grid mr-3"
            [ngClass]="{'grid-cols-1': diagnosticList.length === 1, 'grid-cols-5': diagnosticList.length > 1}">
            <div class="" [ngClass]="{'': diagnosticList.length === 1, 'col-span-4 mr-3': diagnosticList.length > 1}">
              <app-number-input [group]=" refundForm.get('diagnosticos').get(i.toString())" name="monto"
                label="Monto Reclamado" placeholder="10,000" min="0">
              </app-number-input>
            </div>
            <div *ngIf="diagnosticList.length > 1"
              [ngClass]="{'': diagnosticList.length === 1, 'col-span-1': diagnosticList.length > 1} ">
              <button mat-mini-fab aria-label=" Eliminar reclamacion" (click)="removeDiagnostic(i)" type="button"
                class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                <mat-icon style="color: #18446B">remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="mt-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
          <div class="mr-3">
            <div
              *ngFor="let appliedStudies of refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices')['controls']; let ix = index"
              [ngClass]="{'grid grid-cols-5': refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices')['controls'].length > 1}">
              <mat-form-field class="mr-1 w-full" appearance="outline"
                [ngClass]="{'file-input': refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices').get(ix.toString()).get('invoices').value !== '', 'col-span-4': refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices')['controls'].length > 1, 'file-error': refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices').get(ix.toString()).get('invoices').touched && !refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices').get(ix.toString()).get('invoices').valid}">
                <mat-label>Facturas Pendientes</mat-label>
                <ngx-mat-file-input #removableInputInvoices placeholder="Basic outline placeholder"
                  [valuePlaceholder]="fileNameWatcher('invoices', i, ix)"
                  (change)="onFileChange($event, 'invoices', i, ix)">
                </ngx-mat-file-input>
                <mat-icon style="color: #e2e2e2;" matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices').get(ix.toString()).get('invoices').value === ''">
                  publish
                </mat-icon>
                <button mat-icon-button matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices').get(ix.toString()).get('invoices').value !== ''"
                  (click)="this.requestService.clearArchives(refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices').get(ix.toString()).get('invoices'))"
                  (click)="removableInputInvoices.clear($event)">
                  <mat-icon style="color: #e2e2e2;">clear</mat-icon>
                </button><button mat-icon-button matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices').get(ix.toString()).get('invoices').value !== ''"
                  (click)="this.requestService.downloadArchives($event, refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices').get(ix.toString()).get('invoices').value)">
                  <mat-icon style="color: #e2e2e2;">get_app</mat-icon>
                </button>
              </mat-form-field>
              <div
                [ngClass]="{'col-span-1 ml-2 mt-1': refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices')['controls'].length > 1}">
                <button mat-mini-fab aria-label=" Eliminar archivo"
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices')['controls'].length > 1"
                  (click)="removeToList(ix, returnAsFormArray(refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices')))"
                  type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                  <mat-icon style="color: #18446B">remove</mat-icon>
                </button>
              </div>
            </div>
            <button mat-mini-fab aria-label="Agregar archivo"
              (click)="addToList(returnAsFormArray(refundForm.get('diagnosticos').get(i.toString()).get('files').get('invoices')), 'invoices')"
              type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
              <mat-icon style="color: #18446B">add</mat-icon>
            </button>
          </div>

          <div class="mr-3">
            <div
              *ngFor="let appliedStudies of refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications')['controls']; let ix = index"
              [ngClass]="{'grid grid-cols-5': refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications')['controls'].length > 1}">
              <mat-form-field class="mr-1 w-full" appearance="outline"
                [ngClass]="{'file-input': refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications').get(ix.toString()).get('indications').value !== '', 'col-span-4': refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications')['controls'].length > 1, 'file-error': refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications').get(ix.toString()).get('indications').touched && !refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications').get(ix.toString()).get('indications').valid}">
                <mat-label>Indicaciones médicas</mat-label>
                <ngx-mat-file-input #removableInputIndications placeholder="Basic outline placeholder"
                  [valuePlaceholder]="fileNameWatcher('indications', i, ix)"
                  (change)="onFileChange($event, 'indications', i, ix)">
                </ngx-mat-file-input>
                <mat-icon style="color: #e2e2e2;" matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications').get(ix.toString()).get('indications').value === ''">
                  publish
                </mat-icon>
                <button mat-icon-button matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications').get(ix.toString()).get('indications').value !== ''"
                  (click)="this.requestService.clearArchives(refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications').get(ix.toString()).get('indications'))"
                  (click)="removableInputIndications.clear($event)">
                  <mat-icon style="color: #e2e2e2;">clear</mat-icon>
                </button><button mat-icon-button matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications').get(ix.toString()).get('indications').value !== ''"
                  (click)="this.requestService.downloadArchives($event, refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications').get(ix.toString()).get('indications').value)">
                  <mat-icon style="color: #e2e2e2;">get_app</mat-icon>
                </button>
              </mat-form-field>
              <div
                [ngClass]="{'col-span-1 ml-2 mt-1': refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications')['controls'].length > 1}">
                <button mat-mini-fab aria-label=" Eliminar archivo"
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications')['controls'].length > 1"
                  (click)="removeToList(ix, returnAsFormArray(refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications')))"
                  type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                  <mat-icon style="color: #18446B">remove</mat-icon>
                </button>
              </div>
            </div>
            <button mat-mini-fab aria-label="Agregar archivo"
              (click)="addToList(returnAsFormArray(refundForm.get('diagnosticos').get(i.toString()).get('files').get('indications')), 'indications')"
              type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
              <mat-icon style="color: #18446B">add</mat-icon>
            </button>
          </div>

          <div class="mr-3">
            <div
              *ngFor="let appliedStudies of refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports')['controls']; let ix = index"
              [ngClass]="{'grid grid-cols-5': refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports')['controls'].length > 1}">
              <mat-form-field class="mr-1 w-full" appearance="outline"
                [ngClass]="{'file-input': refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports').get(ix.toString()).get('medicReports').value !== '', 'col-span-4': refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports')['controls'].length > 1, 'file-error': refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports').get(ix.toString()).get('medicReports').touched && !refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports').get(ix.toString()).get('medicReports').valid}">
                <mat-label>Informe médico</mat-label>
                <ngx-mat-file-input #removableInputMedicReports placeholder="Basic outline placeholder"
                  [valuePlaceholder]="fileNameWatcher('medicReports', i, ix)"
                  (change)="onFileChange($event, 'medicReports', i, ix)">
                </ngx-mat-file-input>
                <mat-icon style="color: #e2e2e2;" matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports').get(ix.toString()).get('medicReports').value === ''">
                  publish
                </mat-icon>
                <button mat-icon-button matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports').get(ix.toString()).get('medicReports').value !== ''"
                  (click)="this.requestService.clearArchives(refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports').get(ix.toString()).get('medicReports'))"
                  (click)="removableInputMedicReports.clear($event)">
                  <mat-icon style="color: #e2e2e2;">clear</mat-icon>
                </button><button mat-icon-button matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports').get(ix.toString()).get('medicReports').value !== ''"
                  (click)="this.requestService.downloadArchives($event, refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports').get(ix.toString()).get('medicReports').value)">
                  <mat-icon style="color: #e2e2e2;">get_app</mat-icon>
                </button>
              </mat-form-field>
              <div
                [ngClass]="{'col-span-1 ml-2 mt-1': refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports')['controls'].length > 1}">
                <button mat-mini-fab aria-label=" Eliminar archivo"
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports')['controls'].length > 1"
                  (click)="removeToList(ix, returnAsFormArray(refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports')))"
                  type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                  <mat-icon style="color: #18446B">remove</mat-icon>
                </button>
              </div>
            </div>
            <button mat-mini-fab aria-label="Agregar archivo"
              (click)="addToList(returnAsFormArray(refundForm.get('diagnosticos').get(i.toString()).get('files').get('medicReports')), 'medicReports')"
              type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
              <mat-icon style="color: #18446B">add</mat-icon>
            </button>
          </div>

          <div class="mr-3">
            <div
              *ngFor="let appliedStudies of refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers')['controls']; let ix = index"
              [ngClass]="{'grid grid-cols-5': refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers')['controls'].length > 1}">
              <mat-form-field class="mr-1 w-full" appearance="outline"
                [ngClass]="{'file-input': refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers').get(ix.toString()).get('paymentVouchers').value !== '', 'col-span-4': refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers')['controls'].length > 1, 'file-error': refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers').get(ix.toString()).get('paymentVouchers').touched && !refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers').get(ix.toString()).get('paymentVouchers').valid}">
                <mat-label>Comprobante de pagos</mat-label>
                <ngx-mat-file-input #removableInputPaymentVouchers placeholder="Basic outline placeholder"
                  [valuePlaceholder]="fileNameWatcher('paymentVouchers', i, ix)"
                  (change)="onFileChange($event, 'paymentVouchers', i, ix)">
                </ngx-mat-file-input>
                <mat-icon style="color: #e2e2e2;" matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers').get(ix.toString()).get('paymentVouchers').value === ''">
                  publish
                </mat-icon>
                <button mat-icon-button matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers').get(ix.toString()).get('paymentVouchers').value !== ''"
                  (click)="this.requestService.clearArchives(refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers').get(ix.toString()).get('paymentVouchers'))"
                  (click)="removableInputPaymentVouchers.clear($event)">
                  <mat-icon style="color: #e2e2e2;">clear</mat-icon>
                </button><button mat-icon-button matSuffix
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers').get(ix.toString()).get('paymentVouchers').value !== ''"
                  (click)="this.requestService.downloadArchives($event, refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers').get(ix.toString()).get('paymentVouchers').value)">
                  <mat-icon style="color: #e2e2e2;">get_app</mat-icon>
                </button>
              </mat-form-field>
              <div
                [ngClass]="{'col-span-1 ml-2 mt-1': refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers')['controls'].length > 1}">
                <button mat-mini-fab aria-label=" Eliminar archivo"
                  *ngIf="refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers')['controls'].length > 1"
                  (click)="removeToList(ix, returnAsFormArray(refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers')))"
                  type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                  <mat-icon style="color: #18446B">remove</mat-icon>
                </button>
              </div>
            </div>
            <button mat-mini-fab aria-label="Agregar archivo"
              (click)="addToList(returnAsFormArray(refundForm.get('diagnosticos').get(i.toString()).get('files').get('paymentVouchers')), 'paymentVouchers')"
              type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
              <mat-icon style="color: #18446B">add</mat-icon>
            </button>
          </div>
        </div>
        <hr class=" my-4 w-full ww-divider">

      </div>
      <div>
        <button mat-mini-fab aria-label="Agregar reclamacion" (click)="addDiagnostic()" type="button"
          class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
          <mat-icon style="color: #18446B">add</mat-icon>
        </button>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5">
        <div></div>
        <div></div>
        <div></div>
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente mr-3"
          style="font-size: small !important;">
          <mat-label>Monto Total (Pesos)</mat-label>
          <input matInput class="" type="number" ([ngModel])="totalAmountPesos" [value]="totalAmountPesos" disabled>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente mr-3"
          style="font-size: small !important;">
          <mat-label>Monto Total (Dólares)</mat-label>
          <input matInput class="" type="number" ([ngModel])="totalAmount" [value]="totalAmount" disabled>
        </mat-form-field>
      </div>
      <hr class="w-full ww-divider">

      <div class="my-4" [formGroup]="refundForm">
        <mat-checkbox formControlName="haveAditionalComentary">
          Agregar comentario adicional </mat-checkbox>
      </div>
      <app-text-area
        *ngIf="refundForm.value.haveAditionalComentary === true || refundForm.value.haveAditionalComentary === 'true'"
        label="Comentarios adicionales" name="comentary" [group]="refundForm"></app-text-area>

      <mat-action-row class="action-row">
        <button mat-button class="next-button" (click)="nextStep()" type="button">
          Siguiente
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header class="body-13 icon-blue">
        <mat-panel-title>
          Información para fines de pago
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <div *ngIf="showWarningDot(refundForm.get('forma'))" class="warning-accordion-dot"></div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <app-radio-button [group]="refundForm" name="forma" [options]="formaPago">
      </app-radio-button> -->
      <div [formGroup]="refundForm" class="radio-container">
        <mat-label class="radio-button-label">{{formaPago.label}}</mat-label><br>
        <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="forma" class="radio-group">
          <mat-radio-button *ngFor="let option of formaPago.options" [value]="option.value" class="mr-3 radio-button"
            (change)="changePayment($event)">
            {{option.viewValue}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        *ngIf="refundForm.get('forma').value === 'TRANSFERENCIA'">
        <!-- <div class="mr-3">
          <app-input [group]="refundForm.get('infoTransferencia')" label="Cédula" name='cedula' placeholder="0828908801">
          </app-input>
        </div> -->
        <div class="mr-3">
          <app-number-input [group]="refundForm.get('infoTransferencia')" label="No. Cuenta" name='noCuenta'
            placeholder="0828908801" min="1">
          </app-number-input>
        </div>
        <div class="mr-3">
          <app-radio-button [group]="refundForm.get('infoTransferencia')" name="tipoCuenta" [options]="cuentaTipos">
          </app-radio-button>
        </div>
        <div class="mr-3">
          <app-radio-button [group]="refundForm.get('infoTransferencia')" name="tipoMoneda" [options]="tipoMoneda">
          </app-radio-button>
        </div>
        <div class="mr-3 sm:col-span-2">
          <!-- <app-input [group]="refundForm.get('infoTransferencia')" label="Banco Emisor" name='bancoEmisor'
            placeholder="BHD Leon">
          </app-input> -->
          <app-select name="bancoEmisor" [options]="banksField" [group]="refundForm.get('infoTransferencia')">
          </app-select>
        </div>


      </div>
      <mat-action-row class="action-row">
        <button mat-button class="next-button" (click)="nextStep()" type="button">
          Siguiente
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel class="ww-mat-expansion" [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header class="body-13 icon-blue">
        <mat-panel-title>
          Declaración
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <div *ngIf="showWarningDot(refundForm.get('agreeWithDeclaration'))" class="warning-accordion-dot"></div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="declaraciones my-4 px-4 sm:px-4 md:px-14 lg:px-12 xl:px-12">
        CERTIFICO Y DOY FE que los datos suministrados y contenidos en el presente formulario son verdaderos,
        correctos
        y actualizados. Declaro bajo la fe del juramento que no he omitido ninguna información requerida en este
        formulario, explícita o implícitamente, y que en caso de declaración o representación falsa, fraude u omisión,
        WORLDWIDE se reserva el derecho de declinar la cobertura reclamada, sin menoscabo de cualesquiera otros
        remedios
        aplicables de acuerdos a los términos y condiciones del plan contratado por el Asegurado.
        <div class="pt-4"></div>
        Con la firma del presente documento, nos comprometemos a la entrega de toda información, documentación y
        registros, incluyendo pero no limitado a notas médicas relacionadas a consejos, cuidados, tratamientos
        proporcionados, copia fotostática de expedientes completos, relacionados en cualquier forma con el reclamo
        presentado.
        <div class="pt-4"></div>
        <strong>SERVICIO AL CLIENTE:</strong>
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">
          <div class="mr-3">
            <strong> Santo Domingo:</strong> Av. Abraham Lincoln #295, Edificio Caribálico, 5to piso, Rep. Dom. Tel.:
            809-508-7447
          </div>
          <div class="mr-3">
            <strong>Santiago:</strong> C / Eusebio Manzueta #9, Los Jardines. Tel.: 809-581-0111
          </div>
        </div>
      </div>
      <div [formGroup]="refundForm">
        <mat-checkbox formControlName="agreeWithDeclaration">
          Estoy de acuerdo </mat-checkbox>
      </div>

      <mat-action-row class="action-row">
        <button mat-button class="next-button" (click)="nextStep()" type="button">
          Siguiente
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- <app-forms-container *ngIf="showContent" [titles]="accordionTitles">
    <ng-template #formTemplate>

    </ng-template>
    <ng-template #formTemplate>

    </ng-template>
    <ng-template #formTemplate>

    </ng-template>
    <ng-template #formTemplate>

    </ng-template>
  </app-forms-container> -->
  <form #form="ngForm" [formGroup]="refundForm">
    <div *ngIf="showContent" class="mt-8 mb-4">
      <button mat-button class="cancel-form-button" style="margin-right: 7.5px !important;"
        (click)="formHandler.sendForm(refundForm, 'claims-refund', 'cancel')" type="submit">Cancelar</button>
      <!-- <button mat-button class="save-button" style="margin-right: 7.5px !important;"
        (click)="formHandler.sendForm(refundForm, 'claims-refund', 'save')" type="submit">Guardar</button>
      <button mat-button class="send-button" (click)="formHandler.sendForm(refundForm, 'claims-refund', 'send')"
        type="submit">Enviar</button> -->
      <button #saveButton name="saveButton" mat-button class="save-button" style="margin-right: 7.5px !important;"
        (click)="sendForm(refundForm, 'claims-refund', 'save')" type="submit">Guardar</button>
      <button mat-button class="send-button" (click)="sendForm(refundForm, 'claims-refund', 'send', ID)"
        type="submit">Enviar</button>
    </div>
  </form>
</div>
