<!-- <div class="circle circle-down-right"></div>
<div class="circle circle-top-right"></div> -->
<div class="h-full w-full">
  <div class="bg">
    <div class="h-full w-6/12 flex items-end">
      <div class="" style="margin-left: 15%;">
        <div class="text-404 sm:tx4-sm md:tx4-md lg:tx4-lg xl:tx4-xl" style="visibility: hidden;">
          <div class="circle circle-404 sm:c-404-sm md:c-404-md lg:c-404-lg xl:c-404-xl"></div>
          404
        </div>
        <div class="title sm:t-sm md:t-md lg:t-lg xl:t-xl">Ooops!</div>
        <div class="information sm:i-sm md:i-md lg:i-lg xl:i-xl">
          La página a la que intenta acceder no existe o usted no tiene accesos.
        </div>
        <div class="mb-20 mt-5">
          <button mat-button class="go-back" (click)="goBack()" type="submit">
            <div style="display: inline; padding-right: 8px;">Volver atras</div>
            <img src="/assets/iconos/right-arrow.svg" height="8%" width="8%" style="display: inline;">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
