<div class="h-full w-6/12 flex items-end">
  <div class="ml-20">
    <div class="text-404">404</div>
    <div class="title">Ooops!</div>
    <div class="information">
      La página a la que intenta acceder no existe o usted no tiene accesos.
    </div>
    <div class="mb-20 mt-5">
      <button mat-button class="go-back" (click)="goBack()" type="submit">
        <div style="display: inline; padding-right: 8px;">Volver atras</div>
        <img src="/assets/iconos/right-arrow.svg" height="8%" width="8%" style="display: inline;">
      </button>
    </div>
  </div>
</div>
