.title {
  font-size: 18px;
  color: #3D3D3D;
}

.sub-title {
  font-size: 13px;
  color: #555555;
  margin-bottom: 16px !important;
}

.icon {
  background-color: #18446B;
  width: 35px;
  height: 35px;
  border-radius: 50px;

}
