.txt-red {
  color: #FF0000;
}

.txt-blue{
  color: #007DB7
}

.border-r-blue-2{
  border-color: #007DB7;
}

.background-red {
  background-color: #FF0000;
}

.background-gray {
  background-color: #F2F2F2;
}
