<div class="flex flex-col sm:flex-row p-5">
  <div class="w-full sm:w-1/2 flex flex-col background-gray px-10 py-4 border-r-blue-2" style="border-right-width: 50px">
    <!--<div class="text-5xl txt-blue" >{{userName}}</div>
    <div class="txt-blue">correo: {{userEmail}} </div> -->
  </div>

  <div *ngIf="pendingPolicies > 0" class="w-full mt-4 sm:mt-0 sm:w-1/2 sm:ml-5 flex shadow-xl cursor-pointer" (click)="activatePolicyTab()">
    <div class="w-1/2 text-6xl text-center txt-red font-bold mt-4">
      <p>{{pendingPolicies}}</p>
    </div>
    <div class="w-1/2 background-red text-white font-bold text-2xl text-center px-4">
      <p class="sm:mt-8">Pólizas Pendiente de Pago</p>
    </div>
  </div>
</div>
