<div class="p-6 pr-6 xs:pr-6 sm:pr-6 md:pr-12 lg:pr-12 xl:pr-12 bg-white">
    <form [formGroup]='administrationPolicyGroup'>
      <h3 class="uppercase dashboard-page-title pt-8 pb-4">Administración de Pólizas</h3>

      <div class="p-3 pb-2 mb-4" style="background-color: #F2F2F2">
        <div class="mt-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5">
          <div class="mr-3">
            <app-select name="filterType" [options]="filterOptions" [group]="administrationPolicyGroup"></app-select>
          </div>
          <div class="mr-3 col-span-2" *ngIf="this.administrationPolicyGroup.get('filterType').value == 'NOMBRE' ">
            <form [formGroup]="administrationPolicyGroup">
              <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                style="font-size: small !important;">
                <mat-label>Nombre</mat-label>
                <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
                  placeholder="Juan Juan">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="administrationPolicyGroup.get('idNumber').touched && !administrationPolicyGroup.get('idNumber').valid">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </form>
          </div>
          <div class="mr-3" *ngIf="this.administrationPolicyGroup.get('filterType').value == 'ID' ">
            <form [formGroup]="administrationPolicyGroup">
              <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                style="font-size: small !important;">
                <mat-label>ID Number</mat-label>
                <input formControlName="idNumber" matInput class="" type="number" [matAutocomplete]="auto"
                  placeholder="00010002">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="administrationPolicyGroup.get('idNumber').touched && !administrationPolicyGroup.get('idNumber').valid">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </form>
          </div>
          <div class="mr-3" *ngIf="this.administrationPolicyGroup.get('filterType').value == 'POLIZA' ">
            <form [formGroup]="administrationPolicyGroup">
              <mat-form-field color="accent" appearance="outline" class="w-full bg-transparente"
                style="font-size: small !important;">
                <mat-label>Póliza</mat-label>
                <input formControlName="idNumber" matInput class="" type="text" [matAutocomplete]="auto"
                  placeholder="SWWVT-00000">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="administrationPolicyGroup.get('idNumber').touched && !administrationPolicyGroup.get('idNumber').valid">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </form>
          </div> 
            <div *ngIf="idNumber2FieldVisible" class="mr-3">
                <app-select name="idNumber2" [options]="idNumber2Field" [group]="administrationPolicyGroup"></app-select>
            </div>
          <div
            *ngIf="this.administrationPolicyGroup.get('filterType').value == 'NOMBRE' || this.administrationPolicyGroup.get('filterType').value == 'ID' || this.administrationPolicyGroup.get('filterType').value == 'POLIZA' ">
            <button style="margin-left: 15px;"
              (click)="searchIdNumber(administrationPolicyGroup.value.idNumber)" type="submit"
              class="nofocus flex justify-center small-search-button">
              <img src="/assets/iconos/search-icon.svg">
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="showContent" class="mt-12">
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div>
            <label> <strong> Por favor, seleccione el pdf que desee descargar. </strong> </label>
            <div class="grid grid-cols-2 lg:grid-cols-3">
              <div class="mr-3 mt-5 lg:col-span-2">
                <app-select name="pdfSelector" [options]="pdfOptionsField" [group]="administrationPolicyGroup"></app-select>
              </div>
              <div class="mt-5 ml-3">
                <button *ngIf="this.administrationPolicyGroup.get('pdfSelector').value != ''" (click)="download()" type="button" class="flex justify-center content-center nofocus small-search-button" title="Descargar">
                  <img src="/assets/iconos/cloud_download-white-18dp.svg">
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-20">
          <label> <strong> Por favor, suba/cargue el/los pdf(s) llenado(s) aquí. </strong> </label>

          <!-- <div>
            <div
              *ngFor="let studies of disabilityGroup.get('policyholderJuridical').get('commercialRegister')['controls']; let i = index">
              <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
                <app-file-input class="mr-3"
                  [ngClass]="{'col-span-3': disabilityGroup.get('policyholderJuridical').get('commercialRegister')['controls'].length > 1,
                'col-span-4': disabilityGroup.get('policyholderJuridical').get('commercialRegister')['controls'].length === 1}"
                  [group]="disabilityGroup.get('policyholderJuridical').get('commercialRegister').get(i.toString())"
                  name="commercialRegisters" label="Registo mercantil / aviso de operación"
                  [fileNameWatcher]="arrayStudiesWatcher(i, 'commercialRegister', 'policyholderJuridical')"
                  (onFileChange)="onStudiesChange($event, i, 'commercialRegister', 'policyholderJuridical')">
                </app-file-input>
                <div
                  [ngClass]="{'col-span-1': disabilityGroup.get('policyholderJuridical').get('commercialRegister')['controls'].length > 1}"
                  *ngIf="disabilityGroup.get('policyholderJuridical').get('commercialRegister')['controls'].length > 1">
                  <button mat-mini-fab aria-label=" Eliminar estudio"
                    (click)="diseaseService.removeToList(i, disabilityGroup.get('policyholderJuridical').get('commercialRegister'))"
                    type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                    <mat-icon style="color: #18446B">remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="mb-6">
              <button mat-mini-fab aria-label="Agregar estudio"
                (click)="addToList(disabilityGroup.get('policyholderJuridical').get('commercialRegister'), 'commercialRegister')"
                type="button" class="dashboard-toolbar-buttons" style="border: 1px rgb(197, 197, 197) solid">
                <mat-icon style="color: #18446B">add</mat-icon>
              </button>
            </div>
          </div> -->
        </div>
      </div>
    </form>
    <form #form="ngForm">
      <div *ngIf="showContent" class="mt-8">
        <button mat-button class="send-button" style="margin-right: 7.5px !important; margin-top: 10px;"
        (click)="saveChanges()" type="submit">Guardar cambios</button>
      </div>
    </form>
  </div>
